#auro-name {
	width: 200px;
	text-align: center;
	font-family: MillerBanner;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 2.3em;
	margin-bottom: 20px;
}

#auro-title {
	font-family: WorkSans;
	font-size: 15px;
	font-weight: 700;
}

#auro-desc {
	font-family: WorkSans;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
}

#drop-1 {
	margin-top: -20px;
	margin-left: 25px;
	z-index: -99;

}

/*.aurousproduct_detail {
	width: 100%;
}*/

.aurproduct-desc {
	width: 70%;
	text-align: center;
	/*margin-left: -10px;*/
	margin-top: 70px;
}

#myCarousel {
/*	width: 90%;
	margin: 0 auto;
	margin-top: -90px;*/
}

.aligner {
	width: 78%;
	margin-top: -90px;
	margin-left: 100px;
}

.carousel-inner {
   margin-bottom: 12px;
}


.carousel-inner > .item > img {
	width: 102% !important;
    margin: auto;
}

.carousel-inner > .item > a > img {
    width: 102%;
    margin: auto;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 102% !important;
    height: auto;
}

// carousel styling !
.carousel-indicators {
 	left: 92% !important;
 	width: 50% !important;
 	margin-left: 0;
 	bottom: -40px !important;
}

.carousel-indicators li {
	margin-left: 22px !important;
	background-color: gray !important;
}

.carousel-indicators .active {
	background-color: black !important;
	width: 10px !important;
	height: 10px !important;
	// margin: 1px 1px 1px 0!important;
}

.carousel_photo {
	width: 100%;
	/*width: 500px;*/
	/*height: 660px;*/
}

hr.aurous-recommendation {
	margin-top: 60px;
 	border: none;
  	height: 2px;
  	background-color: black;
}

.aurous_recommendedProd {
	width: 86%;
	margin: 0 auto;
	position: relative;
}

.text-center {
	text-align: center;
	font-family: MillerBanner;
	font-weight: 100;
	letter-spacing: 4px;
	font-size: 2.3em;
	margin-bottom: 20px;
}

.aurous_each {
	margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 20%;
    /*position: relative;*/
    display: inline-block;
    &:hover {
        box-shadow: 0 0 4px #fff;
    }
}

#aurousproduct_image {
	width: 100%;
	height: auto;
}


@media (min-width: 769px) and (max-width: 980px) {
	#drop-1 {
		display: none;
	}

	.aurproduct-desc {
		width: 70%;
		margin-left: 5%;
		padding-left: 10px;
		margin-top: 0px;
	}
}

@media (min-width: 663px) and (max-width: 769px) {
	#drop-1 {
		display: none;
	}

	.aurproduct-desc {
		width: 86%;
		margin-left: 7%;
	}

	.aligner {
		width: 72%;
		margin: 0 auto;
		margin-top: -30px;
	}

	.text-center {
		font-size: 16px;
	}
}


@media (max-width: 663px) {
	#drop-1 {
		display: none;
	}

	.aurproduct-desc {
		width: 86%;
		margin-left: 7%;
		margin-top: 20px;
	}

	.aligner {
		width: 80%;
		margin: 0 auto;
		margin-top: -55px;
	}

	.text-center {
		font-size: 16px;
		letter-spacing: 2px;
	}
}
