<finalnavbar></finalnavbar>
<div class="clear">
	<div class="container" id="search-container">
		<br><br>
		<div class="pages_results">
			<h2 class="search-result-title">Pages</h2>

			<div class="pages_results_padding">
				<div class="pages" id="searchtext" ng-repeat="page in pages">
					<a href="/{{ page.page_title }}" ui-sref="{{ page.page_title }}">
						<p class="page-title upper">
							{{ page.page_title }}
						</p>

						<p>
							{{ page.description | limitTo: 300}}...
						</p>
					</a>
					<hr>
				</div>
			</div>
		</div>

		<br>

		<div class="products_results">
			<h2 class="search-result-title">Products</h2><br>

			<div class="product" ng-repeat="product in products">
				<a href="/{{product.category}}/products/{{product.name}}">
					<div class="row">
						<div class="col-sm-3 col-xs-12">
							<div class="search-pic">
								<img class="product-pictures" ng-src="{{ product.image[0] }}" alt="product picture" />
							</div>
						</div>

						<div class="col-sm-9 col-xs-12">
							<div class="search-description">
									<p class="product-name">
										{{ product.name }}
									</p>

									<p class="search-product-title upper">
										{{ product.title }}
									</p>

									<div class="gray-line"></div>

									<p class="price_tag">$ {{ product.price }}.00</p>
									<span>50mL</span>
									<p class="product-description">{{ product.description }}</p>
							</div>
						</div>
					</div>
					<hr>
				</a>
			</div>
		</div>

		<div class="alert-msg">
			<h1 class="miller">{{ alertmsg }}</h1>
			<br>
			<div class="row">
				<div >
					<ul>
						<li class="left-align">{{ suggestion[0] }}</li>
						<li class="left-align">{{ suggestion[1] }}</li>
						<li class="left-align">{{ suggestion[2] }}</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- search end -->

	</div>
</div>
<br><br>
