.search {
	margin-top: 20px; 
	margin-left: 25px;
}

.testing {
	border: none;
	border-bottom: 2px solid;
}

.search-pic {
	width: 200px;
	height: 300px;
	margin: 0 auto;
}

.product-pictures {
  height: 300px;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.testsearch-wrap {
	display: inline-block;
	width: 500px;
	position: relative;
}

input:focus{
    outline: none;
}

#testsearch {
	border: none;
	border-bottom: 1px solid;
	/*display: none;*/
	/*opacity: 0;*/
}

#callsearch {
	margin-top: 3px;
	margin-left: 10px;
	height: 25px;
	width: 100px;
	border: 1px solid;
	text-align: center;
	vertical-align: center;
	display: inline-block;
}

.product a {
	text-decoration: none !important;
	color: black !important;
}

.search-description {
	padding-left: 15px;
}

.alert-msg {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}

.alert-msg img {
	width: 100%;
}

.left-align {
	text-align: left;
	margin-left: 30px;
	font-family: WorkSans;
	font-size: 20px;
}
.giphy {
	display: none;

}