<navbar></navbar>
<div class="clean-and-clear"></div>
<div class="clear">
	<div class="container">

		<!-- <div class="construction">
			<img width="1200" id="construction" src="under-construction.jpg" alt="page is under construction" />
		</div> -->

		<!-- original search commented out below --> 
		<hr>
		<h1>Pages</h1>
		<br><br>
		<div class="pages" ng-repeat="page in pages">
			<a href="/{{ page.page_title }}" ui-sref="{{ page.page_title }}"><p class="page-title">{{ page.page_title }}</p></a>
			<hr>
		</div>

		<hr>
		<h1>Products</h1>
		<div class="product" ng-repeat="product in products">
			<div class="row">
				<div class="col-sm-3 col-xs-12">
					<div class="search-pic">
						<a href="/{{product.category}}/products/{{product.name}}"><img class="product-pictures" ng-src="{{ product.image[0] }}" alt="product picture" /></a>
					</div>
				</div>

				<div class="col-sm-9 col-xs-12">
					<div class="search-description">
						<a href="/{{product.category}}/products/{{product.name}}"><p class="product-name">{{ product.name }}</p>
						<p class="product-title">{{ product.title }}</p></a>
						<div class="gray-line"></div>
						<p class="price_tag">$ {{ product.price }}.00</p>
						<span>50mL</span>
						<p class="product-description">{{ product.description }}</p>
					</div>
				</div>
			</div>
			<hr>
		</div>

		<div class="alert-msg">
			<h1>{{ alertmsg }}</h1>
			<br>
			<div class="row">
				<div class="col-sm-6" >
					<iframe class="giphy" src="//giphy.com/embed/LJ1XTfxW60Luw?hideSocial=true" width="480" height="330" frameborder="0" class="giphy-embed" allowfullscreen=""></iframe>
				</div>
				<div class="col-sm-6">
					<li class="left-align">{{ suggestion[0] }}</li>
					<li class="left-align">{{ suggestion[1] }}</li>
					<li class="left-align">{{ suggestion[2] }}</li>
				</div>
			</div>
		</div> 
		<!-- search end -->

	</div>

</div>
<br><br>