.search {
	margin-top: 20px;
	margin-left: 25px;
}

#search-container {
	width:1142px;
	margin:0 auto;
}

.testing {
	border: none;
	border-bottom: 2px solid;
}

.search-pic {
	width: 200px;
	height: 260px;
	padding-top: 10px;
	margin: 0 auto;
}

.product-pictures {
  height: 240px;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.testsearch-wrap {
	display: inline-block;
	width: 500px;
	position: relative;
}

input:focus{
    outline: none;
}

#testsearch {
	border: none;
	border-bottom: 1px solid;
}

#callsearch {
	margin-top: 3px;
	margin-left: 10px;
	height: 25px;
	width: 100px;
	border: 1px solid;
	text-align: center;
	vertical-align: center;
	display: inline-block;
}

.product a {
	text-decoration: none !important;
	color: black !important;
}

.search-description {
	padding-left: 15px;
}

.alert-msg {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
	display: none;

	ul {
		list-style-type: disc;
		width: 55%;
		margin: 0 auto;

		li {
			font-family: 'Work Sans';
			font-size: 15px;
			font-weight: lighter;
		}
	}
}

.left-align {
	margin-left: 30px;
	margin-bottom: 10px;
	font-family: WorkSans;
	font-size: 15px;
	list-style: none;
}

.giphy {
	display: none;

}

.construction {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#construction {
	margin: 0 auto;
}

.pages span {
	background-color: yellow;
}

.search-result-title {
  font-style: italic;
  font-weight: lighter;
  font-size: 27px;
  font-family: "Miller Ban It";
}

.search-product-title {
	text-align: left;
}

.pages_results {
	.pages_results_padding{
		p {
			color: #000000;
		}

		.page-title {
			font-size: 18px;
			margin: 20px 0 -1px;
			font-family: 'Work Sans';
			font-weight: 400;
		}

		p:not(.page-title) {
			font-size: 15px;
			font-family: 'Work Sans';
			margin: 10px 0 0 0;
		}
	}
}


@media screen and (max-width: 1140px){
	#search-container {
		width: 95%;
		margin:0 auto;
	}

	.alert-msg ul {
		width: 80%;
	}

}


@media screen and (max-width: 750px) {
	.search-result-title {
		margin-top: 40px;
	}
}


@media screen and (max-width: 580px) {
	.alert-msg {
		width: 90%;
		text-align: left;

		h1 {
			font-size: 31px;
		}

		ul {
			width: 100%;
		}
	}
}

@media screen and (max-width: 500px) {
	.alert-msg h1 {
		font-size: 20px;
	}

	.left-align {
		margin-left: 15px;
		font-size: 14px;
	}
}
