/* navigation bar */

#scrollable-div {
	width: 100%;
	height: 120px;
	background-color: lightblue;
}

#top-logo-logo {
	width: 236px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 26px;
}

#top-logo {
  	width: 236px;
  	height: 64px;
}

#fixed-nav-div {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid grey; 
}

#fixed-nav-body {
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	background-color: grey;
}


.posi{
    position:fixed;
    margin-top: 0;
    top:0;
    /*z-index: 9999 !important;*/
}

/* fixed nav bar styling */

#first-part, #second-part, #third-part {
	display: inline-block;
}

#first-part {
	width: 118px;
	margin-left: 40px;
	margin-top: 13px;
}

#btm-brand-logo {
	width: 118px;
  	height: 32px;
}

#second-part {
  	max-width: 512px;
  	min-width: 280px;
  	height: 55px;
  	margin: 0 auto;
  	margin-top: -8px;
  	background-color: black;
}

#third-part {
	width: 20px;
	background-color: yellow;
}



ul {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

#center-nav {
	width: 512px;
	margin: 0 auto;
}

/* hahahahahahahaha end nav **/



.editbtn {
	display: inline-block;	
}

.banner-test {
	background-image: url('banner1.jpg');
	background-position: center;
	height: 450px;
	width: 100%;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.overlay {
	width: 100%;
	height: 1200px;
/*	margin-top: 150px;*/
	background-color: red;
	opacity: 1;
	overflow: scroll;
}

#text-testing2 {
	position: absolute;
	left: 1012px;
	top: 347px;
	display: none;
	-webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
	 -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
 } 
/* animation-name: fadeInDown;*/

#parallax {
	width: 420px;
	height: 420px;
	margin: 0 auto;
	/*background-image: url('six.png');*/
}

.container-animation {
	height: 1600px;
}


#red-box {
	width: 100%;
	height: 200px;
	background-color: red;
}


img.parl {
	width: 320px;
	height: 180px;
	display: inline-block;
}

.one {
	width: 100%;
	height: 800px;
	background-color: lightblue;
}

.two {
	width: 100%;
	height: 800px;
	/*background-color: red;*/
}

.three {
	width: 100%;
	height: 800px;
	/*background-color: yellow;*/
}


#parallax.one1 {
	display: none;
	position: fixed;
	top: 40%;
	left: 65%;
}

#parallax.two2 {
	display: none;
	position: fixed;
	top: 60%;
	left: 45%;
}

#parallax.three3 {
	display: none;
	position: fixed;
	top: 20%;
	left: 65%;
}

.banner {
	width: 60%;
	margin: 0 auto;
}


#target {
	::-webkit-scrollbar { 
    display: none; 
}
}

#container1{
    height: 100%;
    width: 100%;
    border: 1px solid green;
    overflow: hidden;
}

#container2{
    width: 100%;
    height: 99%;
    border: 1px solid blue;
    overflow: auto;
    padding-right: 15px;
}

div.rotation1 {
	width: 488px;
    height: 402px;
 /*   border: 1px solid black;*/
    margin: 0 auto;
    background-image: url('cha-7.png');
    -webkit-transition: trasnform 5s; /* For Safari 3.1 to 6.0 */
    transition: transform 5s;
}

div.rotation1:hover {
	-webkit-transform: rotateY(150deg) rotateX(150deg) rotateZ(90deg); /* Safari */
    transform: rotateY(150deg) rotateX(150deg) rotateZ(90deg);
}