.clean-and-clear {
    display: block;
    width: 100%;
    height: 75px;
    /*background-color: rgba(0, 0, 0, 1);*/
    background-color: white;
    z-index: -9999;
}

.sat_image {
    position: relative;
    display: block;
    width: 100%;
    height: 155px;
    text-align: center;
    background-image: url('SS_PinkBar.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: rgb(250, 214, 218);*/
}


#sat-banner {
    width: 1200px;
    margin: 0 auto;
    display: none;
}

.sat_link {
    margin-top: 15px;
    padding-left: 50px;
    display: inline-block;
    vertical-align: top;

}

.sat_link a {
    color: black;
    font-family: WorkSans;
    font-size: 13px;
    text-decoration: none;
}

.sat_link > .caret {
    fill: #A9A9A9;
}

.product-list {
    width: 90%;
    margin: 0 auto;
}

.product-listing {
    margin-left: 1.75%;
    margin-right: 1.5%;
    margin-top: 1vh;
    margin-bottom: 3vh;
    width: 30%;
    position: relative;
    display: inline-block;
    background-color: white;
    &:hover {
        box-shadow: 0 0 4px #fff;
    }
}


.sat-prod-img { 
    margin: 0 auto;
    padding-left: 20%;
}

.sat-prod-img img {
    width: 100%;
    max-width: 170px;
    height: auto;
}

.sat-prod-text {
    padding-left: 10%;
}

.product-name {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -1px;
    font-family: WorkSans;
    text-transform: uppercase;
}

.product-title {
    font-size: 15px;
    font-family: WorkSans;
    text-transform: uppercase;
}

.product-ktitle {
    margin: 0;
    margin-bottom: 10px;
    margin-top: -10px;
}

.price_tag {
    font-size: 18px;
    padding-top: 10px;
    font-family: WorkSans;
    color: #A2A2A2;
}

.gray-line {
    width: 130px;
    height: 5px;
    background-color: #00d1a5;
    float: left;
    margin: 0 auto;
    display: block;
}

.product-description {
    font-size: 15px;
    font-family: WorkSans;
}

.product-grid {
    max-width: 1150px;
    margin: 0 auto;
}

.sat-product-image {
    margin: 0 auto;
}

.product-grid-item {
    text-align: center;
}


@media screen and (min-width: 1205px) {
    .sat_image {
        position: relative;
        display: block;
        width: 100%;
        height: 155px;
        text-align: center;
        background-image: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgb(250, 214, 218);
    }

    #sat-banner {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .prodcut-grid-item-inner {
        height: 445px;
        margin: 0 auto;
        font-size: 10px;
    }

    .product-name {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: -1px;
    }

    .product-title {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .price_tag {
        font-size: 16px;
        /*padding-top: 10px;*/
    }

    .height-fix {
        height: 0px;
    }

}

@media screen and (max-width: 940px){
    .clean-and-clear {
        height: 108px;
    }

    .height-fix {
        height: 30px;
    }
}

@media screen and (max-width: 769px) {
    .prodcut-grid-item-inner {
        height: 350px;
        margin: 0 auto;
        /*font-size: 13px;*/
    }

    .product-list {
        margin-top: -55px;
    }

    .sat_link {
        /*margin-top: -55px;*/
    }
}


@media screen and (max-width: 640px) {
    .sat_link {
        margin-top: -70px;
    }

    .product-listing {
        margin-right: 1%;
        width: 47%;
        margin-top: 18px;
        margin-bottom: 1vh;
        position: relative;
        display: inline-block;
    }

}

@media screen and (max-width: 580px){
    .clean-and-clear {
        height: 75px;
    }
}
