/*** imported from chalogy-nav ***/

/* CSS
/* Section 1
- Base Styles, HTML5 Elements, Typography, Links and Buttons, Icon

/* Section 2
- Grid system, Lists, Helpers

/* Section 3
- Navigation, Footer, Homepage, Product Page, Product Detail Page

/* Section 4
- Media Query - Desktop : 1200px; Tablet : 800px; Mobile : min 320px; and more

/* Section 5
- Cross Browser Fix
*/

body {
  margin: 0;
  padding: 0;
  background-color: #373737;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000000;
  text-decoration: none;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
} /* IE < 8 */

.wrapper {
  // width: 1200px;
  overflow: hidden;
  /*margin: 55px auto 0;*/
  margin: 0 auto;
  background: white;
}

#home {
  position: relative;
}

.under {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.page-indicator {
  z-index: 9999;
  width: 20px;
  position: fixed;
  top: 50%;
  right: 40px;
}

.page-indicator > div {
  margin-top: 10px;
  width: 10px;
  height: 10px;
}

.bg1 {
  background-image: url("buttons/circle_w_1.png");
  background-size: contain;
}

.bg2 {
  background-image: url("buttons/circle_w_2.png");
  background-size: contain;
}

#first-dot, #second-dot, #third-dot, #fourth-dot {
  width: 1px;
  height: 1px;
  background-color: black;
  opacity: 0;
}

div.first-page-fade-in {
  opacity: 0;
  position: relative;
  -webkit-animation: show 3s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  animation: show 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

.down-arrow {
  width: 76px;
  height: 39px;
  margin-top: 20px;
}

.up-arrow-home {
  width: 76px;
  height: 39px;
  margin-bottom: 20px;
}



/* fullscreen setup */
// html, body {
//     /* give this to all tags from html to .fullscreen */
//     height:100%;
// }

.home_link_to_brands:hover {
  color: #FFFFFF !important;
}

.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
  display:table;
}

.content-a.gradient {
  background: -moz-linear-gradient(top,  rgba(2,2,2,0.86) 0%, rgba(255,255,255,0) 50%);
  background: -webkit-linear-gradient(top,  rgba(2,2,2,0.86) 0%,rgba(255,255,255,0) 50%);
  background: linear-gradient(to bottom,  rgba(2,2,2,0.86) 0%,rgba(255,255,255,0) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db020202', endColorstr='#00ffffff',GradientType=0 );

  -webkit-animation: fadeintest 4s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
  animation: fadeintest 4s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.content-b {
  display:table-cell;
  position:relative;
	/*vertical-align:middle;*/
  /*top: 20%;*/
  top: 120px;
	text-align:center;

  -webkit-transform: translateZ(0px);
  webkit-font-smoothing: subpixel-antialiase;

  p, h2, .home_links, .home_links a {
    color: #FFFFFF;
    // background-color: #FFFFFF;
    margin: 0 auto;
    /*text-transform: uppercase;*/
  }

  p, h2 {
    width: 400px;
  }

  h2 {
    font-size: 27px;
    width: 510px;
    font-style: italic;
  }

  p {
    font-weight: 400;
  }

  .margin-top-big {
    margin: 45px auto 0;
    width: 580px;
    /*width: 760px;*/
  }

  .margin-top-small {
    margin: 15px auto 0;
  }

  .home_links {
    margin: 35px auto 0;
    // width: 415px;

    a {
      font-weight: 400;
      border: 1px solid #E5E5E5;
      padding: 10px 40px;
      font-size: 15px;
    }

    .short_link_name {
      padding: 10px 69px;
      margin: 0 10px 0 0;
    }
  }
}

.parallax {
  &.lax-one, &.lax-two, &.lax-three, &.lax-four, &.lax-one-1, &.lax-two-2, &.lax-three-3, &.lax-four-4  {
    height: 100vh;
  }

  &.lax-one {
    background-image: url('home/chaum_1.jpg');
  }

  &.lax-two {
    /*background-image: url('about/chaum/chaum_2.jpg')*/
        background-image: url('home/chaum_2.jpg');
  }
/*
  &.lax-three {
    background-image: url('about/chaum/chaum_1_1.jpg');
  }

  &.lax-four {
    background-image: url('about/chaum/chaum_4_1.jpg');
  }

   &.lax-one-1 {
    background-image: url('about/chaum/chaum_3.jpg');
  }

  &.lax-two-2 {
    background-image: url('about/chaum/chaum_2.jpg');
  }

  &.lax-three-3 {
    background-image: url('about/chaum/chaum_1.jpg');
  }*/

/*  &.lax-four-4 {
    background-image: url('about/chaum/chaum_4.jpg');
  }
*/
  &.lax-three {
    background-image: url('home/chaum_3.jpg');
  }

  &.lax-four {
    background-image: url('home/chaum_4.jpg');
    /*background-image: url('http://images.apple.com/v/music/b/images/heros/connect-small.gif');*/
  }
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
  height:auto;
  min-height:100%;
}

/*** fade in and out ***/
#fade-in-test {
  /*opacity: 0;*/
}

#second-content, #third-content, #fourth-content {
  opacity: 0;
}

#second-content, #third-content {
  top: 180px;
}

#fourth-content {
  top: 132px;
}

div.fade-in-effect-test {
  position: relative;
  -webkit-animation: fadeintest 3s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
  animation: fadeintest 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeintest {
  from {color: white; opacity: 0;}
  to {color: red; opacity: 1;}
}

@keyframes fadeintest {
  from {color: white; opacity: 0;}
  to {color: white; opacity: 1;}
}

div.fade-out-effect-test {
  position: relative;
  -webkit-animation: fadeouttest 2s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
  animation: fadeouttest 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeouttest {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeouttest {
  from {opacity: 1;}
  to {opacity: 0;}
}

#clickable-downarrow2, #clickable-downarrow3 {
  display: none;
  margin: 0 auto;
  margin-top: 20px;
}

#clickable-uparrow2, #clickable-uparrow3 {
  display: none;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 581px) and (max-width: 769px) {
  #clickable-downarrow2, #clickable-downarrow3, #clickable-uparrow2, #clickable-uparrow3 {
    display: block;
  }

  .home_links {
    width: 415px;
  }
}


@media screen and (max-width: 580px) {
  .content-b {
    h2 {
      font-size: 20px;
      width: 90%;
      font-style: italic;
    }

    .margin-top-big {
      width: 86%;
      font-size: 13px;
      margin-top: 0;
    }

    .home_links {
      margin: 35px auto 0;
      // width: 350px;

      .short_link_name {
        padding: 10px 33px;
        width: 50%;
        display: block;
        margin: 40px auto;
      }
    }
  }

  #clickable-downarrow2, #clickable-downarrow3, #clickable-uparrow2, #clickable-uparrow3 {
    display: block;
  }

  .page-indicator {
    right: 15px;
  }

  .content-b {
    top: 70px;
  }

  #second-content, #third-content {
    top: 70px;
  }

  #fourth-content {
    top: 72px;
  }

}


@media screen and (max-width: 400px) {
  .content-b .home_links {
    margin: 35px auto 0;
    width: 320px;
  }

  .content-b .home_links .short_link_name {
    padding: 10px 10px;
  }

  .page-indicator {
    right: 15px;
  }

}
























/* visual styles */
// body{
//     margin:0;
//     font-family:sans-serif;
//     font-size:28px;
//     line-height:100px;
// 	color:#ffffff;
//     text-align:center;
// }
// section {
// 	background:#9ed100;
// }
// .not-fullscreen {
//     height:50%;
// }









// .wrapper.header_page {
//     position: relative;
//     z-index: 90;
//     // height: 1258px;
//
//     .thing {
//       width: 100vw;
//       height: 100vh;
//       display: inline-block;
//       position: relative;
//
//       p {
//         position: absolute;
//         color: white;
//         border: 1px solid #FFFFFF;
//         width: 50vw;
//         top: 50vh;
//         left: 25vw;
//         // margin: 50vh auto;
//         vertical-align: middle;
//       }
//
//       &.one {
//         background-color: #FF0000;
//       }
//
//       &.two {
//         background-color: #00FF00;
//       }
//
//       &.three {
//         background-color: #0000FF;
//       }
//     }
//
//     .animator {
//       width: 100%;
//       height: 1035px;
//
//       h1{
//         display: none;
//         position: absolute;
//         top: 970px;
//         left: 648px;
//         font-size: 26px;
//         text-transform: uppercase;
//         letter-spacing: 2px;
//
//         span {
//           display: block;
//         }
//       }
//     }
//
//     .circle-wrapper-red {
//       width: 850px;
//       height: 850px;
//       border-radius: 35% 54% 54%;
//       overflow: hidden;
//       margin: 47px 153px;
//       display: none;
//
//       .circle-red-bg {
//         width: 995px;
//         height: 971px;
//         border: 70px solid white;
//         position: absolute;
//         top: 0;
//         left: 80px;
//         border-radius: 29% 50% 53% 50%;
//       }
//
//       .circle-red {
//         width: 850px;
//         height: 850px;
//         z-index: -2000;
//         text-align: center;
//         overflow: hidden;
//
//         &::before {
//           width: 860px;
//           height: 860px;
//           display: block;
//
//           position: absolute;
//           z-index: -2001;
//
//           content: '';
//
//           background-image: url('eyes.png');
//           background-repeat: no-repeat;
//           background-position: -7px 30px;
//           background-size: 860px;
//
//           -webkit-transition: all 1000ms linear;
//           -o-transition: all 1000ms linear;
//           -moz-transition: all 1000ms linear;
//           -ms-transition: all 1000ms linear;
//           -kthtml-transition: all 1000ms linear;
//           transition: all 1000ms linear;
//         }
//
//         .chalogy {
//           width: 210px;
//
//           position: absolute;
//           top: 477px;
//           left: 575px;
//         }
//         a {
//           z-index: 100;
//
//           .cha_plus {
//             z-index: 100;
//             top: 498px;
//             left: 966px;
//           }
//         }
//       }
//
//       .red-changer::before {
//         transform: scale(1.1);
//         width: 860px;
//         height: 860px;
//
//         -webkit-transition: all 1000ms linear;
//         -o-transition: all 1000ms linear;
//         -moz-transition: all 1000ms linear;
//         -ms-transition: all 1000ms linear;
//         -kthtml-transition: all 1000ms linear;
//         transition: all 1000ms linear;
//       }
//     }
//
//     .circle-triangle, .circle-triangle-two {
//       z-index: 3;
//       position: absolute;
//     }
//
//     .circle-triangle {
//       width: 852px;
//       height: 308px;
//
//       top: 133px;
//       left: 150px;
//
//       -webkit-clip-path: polygon(0 252px, 686px 0, 724px 34px, 753px 66px, 796px 126px, 836px 219px, 851px 308px, 70px 308px);
//       clip-path: polygon(0 232px, 631px 0, 671px 34px, 700px 66px, 740px 126px, 768px 186px, 790px 282px, 63px 282px);
//     }
//
//     .circle-triangle-two {
//       // width: 383px;
//       // height: 311px;
//       width: 784px;
//       height: 458px;
//       top: 441px;
//       left: 221px;
//       // -webkit-clip-path: polygon(0 0, 383px 310px, 383px 0px);
//       // clip-path: polygon(0 0, 359px 293px, 359px 0px);
//       -webkit-clip-path: polygon(0 0, 384px 311px, 384px 459px, 457px 446px, 527px 421px, 597px 382px, 667px 324px, 737px 226px, 775px 120px, 784px 0px);
//       clip-path: polygon(0 0, 384px 311px, 384px 459px, 457px 446px, 527px 421px, 597px 382px, 667px 324px, 737px 226px, 775px 120px, 784px 0px);
//     }
//
//     .ribbon-cover-blue {
//       width: 604px;
//       height: 816px;
//
//       position: absolute;
//       top: 265px;
//       left: 0;
//
//       overflow: hidden;
//       z-index: 2;
//       background-color: white;
//       box-shadow: -60px 61px 81px #FFFFFF;
//     }
//
//     .ribbon-wrapper-blue {
//       width: 604px;
//       height: 816px;
//       position: absolute;
//       top: 265px;
//       left: 0;
//       overflow: hidden;
//       z-index: 1;
//
//       .ribbon-blue {
//         width: 256px;
//         height: 970px;
//         position: relative;
//         top: -70px;
//         left: 184px;
//         background-color: #414141;
//         overflow: hidden;
//
//         font: bold 15px 'Work Sans';
//         color: #FFFFFF;
//         text-align: center;
//
//         -webkit-box-shadow: 3px 18px 13px 0px #5C5C5C;
//         -moz-box-shadow: 3px 18px 13px 0px #5C5C5C;
//         box-shadow: 3px 18px 13px 0px #5C5C5C;
//
//         /* Rotations */
//         -webkit-transform: rotate(-51deg);
//         -moz-transform:    rotate(-51deg);
//         -ms-transform:     rotate(-51deg);
//         -o-transform:      rotate(-51deg);
//         transform:         rotate(-51deg);
//
//         &:before {
//           width: 603px;
//           height: 814px;
//
//           position: absolute;
//           top: 79px;
//           left: -184px;
//           z-index: -1;
//
//           content: "";
//
//           background-image: url("flipped_CHA_largeBottle_TILT_frontView_goldTop_v02_fromAE.png");
//           background-repeat: no-repeat;
//           background-size: 790px;
//           background-position: -67px 106px;
//
//           /* Counter-rotations for background image */
//           -webkit-transform:  rotate(51deg);
//           -moz-transform:     rotate(51deg);
//           -ms-transform:      rotate(51deg);
//           -o-transform:       rotate(51deg);
//           transform:          rotate(51deg);
//
//           -webkit-transition: all 500ms linear;
//           -o-transition: all 500ms linear;
//           -moz-transition: all 500ms linear;
//           -ms-transition: all 500ms linear;
//           -kthtml-transition: all 500ms linear;
//           transition: all 500ms linear;
//         }
//
//         .aurous {
//           width: 155px;
//
//           position: absolute;
//           top: 440px;
//           left: 35px;
//
//           transform: rotate(51deg);
//         }
//
//         .aur_plus {
//           top: 820px;
//           left: 121px;
//
//           transform: rotate(51deg);
//         }
//       }
//
//       .blue-changer:before {
//         transform: scale(1.1) rotate(51deg);
//
//         -webkit-transition: all 500ms linear;
//         -o-transition: all 500ms linear;
//         -moz-transition: all 500ms linear;
//         -ms-transition: all 500ms linear;
//         -kthtml-transition: all 500ms linear;
//         transition: all 500ms linear;
//       }
//     }
//
//     .ribbon-cover-green {
//       width: 1200px;
//       height: 441px;
//       position: absolute;
//
//       top: 0;
//       left: 0;
//
//       z-index: 3;
//       overflow: hidden;
//       background-color: #FFFFFF;
//       box-shadow: 70px 61px 81px #FFFFFF
//     }
//
//     .ribbon-wrapper-green {
//       width: 1200px;
//       height: 441px;
//       position: absolute;
//       top: 0;
//       left: 0;
//       overflow: hidden;
//       z-index: 2;
//
//       .ribbon-green {
//         width: 1277px;
//         height: 240px;
//         position: relative;
//         top: -13px;
//         left: -80px;
//         overflow: hidden;
//
//         font: bold 15px Sans-Serif;
//         color: #333;
//         text-align: center;
//
//         /* Rotations */
//         -webkit-transform: rotate(-20.1deg);
//         -moz-transform:    rotate(-20.1deg);
//         -ms-transform:     rotate(-20.1deg);
//         -o-transform:      rotate(-20.1deg);
//         transform:         rotate(-20.1deg);
//
//         &:before {
//           width: 1203px;
//           height: 441px;
//
//           position: absolute;
//           top: 20px;
//           left: 38px;
//           z-index: -1;
//
//           content: "";
//
//           background-image: url("flipped_pinkcream.png");
//           background-repeat: no-repeat;
//           background-size: 1198px;
//           background-position: 0px -497px;
//
//           /* Counter-rotations for background image */
//           -webkit-transform:  rotate(20.1deg);
//           -moz-transform:     rotate(20.1deg);
//           -ms-transform:      rotate(20.1deg);
//           -o-transform:       rotate(20.1deg);
//           transform:          rotate(20.1deg);
//
//           -webkit-transition: all 500ms linear;
//           -o-transition: all 500ms linear;
//           -moz-transition: all 500ms linear;
//           -ms-transition: all 500ms linear;
//           -kthtml-transition: all 500ms linear;
//           transition: all 500ms linear;
//         }
//
//         .saturday {
//           width: 190px;
//
//           position: absolute;
//           top: 50px;
//           left: 285px;
//
//           transform: rotate(20.1deg);
//         }
//
//         .sat_plus {
//           top: 195px;
//           left: 1080px;
//           transform: rotate(20.1deg);
//         }
//       }
//
//       .green-changer:before {
//         transform: scale(1.1) rotate(20.1deg);
//
//         -webkit-transition: all 500ms linear;
//         -o-transition: all 500ms linear;
//         -moz-transition: all 500ms linear;
//         -ms-transition: all 500ms linear;
//         -kthtml-transition: all 500ms linear;
//         transition: all 500ms linear;
//       }
//     }
//
//     .ribbon-shadow-green {
//       width: 1117px;
//       height: 240px;
//       position: absolute;
//       top: -39px;
//       left: 72px;
//       overflow: hidden;
//       font: bold 15px Sans-Serif;
//       color: #333;
//       text-align: center;
//       -webkit-box-shadow: 162px 10px 37px -11px #A0A0A0;
//       -moz-box-shadow: 162px 10px 37px -11px #A0A0A0;
//       box-shadow: -8px 10px 37px -11px #A0A0A0;
//       -webkit-transform: rotate(-20.1deg);
//       -moz-transform: rotate(-20.1deg);
//       -ms-transform: rotate(-20.1deg);
//       -o-transform: rotate(-20.1deg);
//       transform: rotate(-20.1deg);
//       z-index: -10;
//     }
  // }

  // .sat_plus, .aur_plus, .cha_plus {
  //   width: 15px;
  //   position: absolute;
  // }
  //
  // .front_text {
  //   display: none;
  //   margin: 65px 0;
  //
  //   p {
  //     text-transform: uppercase;
  //     font-family: 'Work Sans', sans-serif;
  //     width: 314px;
  //     margin: 0 auto;
  //     text-align: center;
  //     line-height: 1.2;
  //     letter-spacing: 0.2px;
  //     font-size: 15px;
  //   }
  //
  //   a {
  //     display: block;
  //     text-align: center;
  //     border: 1px solid black;
  //     width: 80px;
  //     margin: 25px auto;
  //     padding: 4px 14px;
  //     font-size: 1.2em;
  //     text-transform: uppercase;
  //     color: black;
  //     font-family: 'Work Sans', sans-serif;
  //     text-decoration: none;
  //     font-weight: 600;
  //   }
  //
  //   a:hover,
  //   a:focus {
  //     color: #000000;
  //   }
  // }

.header_page footer {
  display: none;
}


/*************** Media Query ******************/
// @media only screen and (max-width : 1024px) {
//   .wrapper {
//    /* width: 1200px;
//     height: 1258px;*/
//     /*margin: 115px auto;*/
//     margin: 0 auto;
//
//     position: relative;
//     z-index: 90;
//
//     background: white;
//     overflow: hidden;
//
//     /*-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
//     -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
//     box-shadow:         0px 0px 8px rgba(0,0,0,0.3);*/
//   }
//
//   .animator {
//     width: 100%;
//     height: 955px;
//   }
//
//   .circle-wrapper-red {
//     width: 830px;
//     /*width: 69.2%;*/
//     height: 830px;
//     margin: 85px 127px;
//     /*margin: 7.08% 10.6%;*/
//     display: none;
//   }
//
//   .circle-red {
//     width: 830px;
//     /*width: 100%;*/
//     height: 830px;
//
//     z-index: -2000;
//
//     border-radius: 40% 0 0 0;
//
//     text-align: center;
//
//     background-image: url('eyes.png');
//     background-repeat: no-repeat;
//     background-position: 8px 30px;
//     background-size: 790px;
//     /*background-size: 99%;*/
//
//     /*transitions*/
//     -webkit-transition: all 500ms linear;
//     -o-transition: all 500ms linear;
//     -moz-transition: all 500ms linear;
//     -ms-transition: all 500ms linear;
//     -kthtml-transition: all 500ms linear;
//     transition: all 500ms linear;
//   }
//
//   .red-changer {
//     background-size: 820px;
//     /*background-size: 110%;*/
//     /*background-position: -60px -567px;*/
//
//     -webkit-transition: all 500ms linear;
//     -o-transition: all 500ms linear;
//     -moz-transition: all 500ms linear;
//     -ms-transition: all 500ms linear;
//     -kthtml-transition: all 500ms linear;
//     transition: all 500ms linear;
//   }
//
//   .chalogy {
//     width: 210px;
//
//     position: absolute;
//     top: 467px;
//     /*top: 39%;*/
//     left: 530px;
//     /*left: 44.2%;*/
//   }
//
//   .cha_plus {
//     width: 13px;
//
//     position: absolute;
//     top: 490px;
//     /*top: 40.8%;*/
//     left: 885px;
//     /*left: 73.8%;*/
//   }
//
//   .circle-triangle {
//     width: 789px;
//     height: 282px;
//
//     position: absolute;
//     top: 159px;
//     left: 135px;
//
//     -webkit-clip-path: polygon(0 232px, 631px 0, 671px 34px, 700px 66px, 740px 126px, 768px 186px, 790px 282px, 63px 282px);
//     clip-path: polygon(0 232px, 631px 0, 671px 34px, 700px 66px, 740px 126px, 768px 186px, 790px 282px, 63px 282px);
//   }
//
//   .circle-triangle-two {
//     width: 359px;
//     height: 291px;
//
//     position: absolute;
//     top: 441px;
//     left: 199px;
//
//     -webkit-clip-path: polygon(0 0, 359px 293px,359px 0px);
//     clip-path: polygon(0 0, 359px 293px,359px 0px);
//   }
//
//   .ribbon-wrapper-blue {
//     width: 558px;
//     height: 774px;
//
//     /*display: none;*/
//
//     position: absolute;
//     top: -265px;
//     left: -558px;
//
//     overflow: hidden;
//   }
//
//   .ribbon-blue {
//     width: 256px;
//     height: 910px;
//     position: relative;
//     top: -70px;
//     left: 160px;
//     background-color: #414141;
//     overflow: hidden;
//
//     font: bold 15px Sans-Serif;
//     color: #FFFFFF;
//     text-align: center;
//
//
//     -webkit-box-shadow: 3px 18px 13px 0px rgb(54, 54, 54);
//     -moz-box-shadow: 3px 18px 13px 0px rgb(54, 54, 54);
//     box-shadow: 3px 18px 13px 0px rgb(54, 54, 54);
//
//     /* Rotations */
//     -webkit-transform: rotate(-51deg);
//     -moz-transform:    rotate(-51deg);
//     -ms-transform:     rotate(-51deg);
//     -o-transform:      rotate(-51deg);
//   }
//
//   .ribbon-blue:before {
//     width: 559px;
//     height: 761px;
//
//     position: absolute;
//     top: 79px;
//     left: -164px;
//     z-index: -1;
//
//     content: "";
//
//     background-image: url("flipped_CHA_largeBottle_TILT_frontView_goldTop_v02_fromAE.png");
//     background-repeat: no-repeat;
//     background-size: 790px;
//     background-position: -124px 56px;
//
//     /* Counter-rotations for background image */
//     -webkit-transform:  rotate(51deg);
//     -moz-transform:     rotate(51deg);
//     -ms-transform:      rotate(51deg);
//     -o-transform:       rotate(51deg);
//     transform:          rotate(51deg);
//
//     -webkit-transition: all 500ms linear;
//     -o-transition: all 500ms linear;
//     -moz-transition: all 500ms linear;
//     -ms-transition: all 500ms linear;
//     -kthtml-transition: all 500ms linear;
//     transition: all 500ms linear;
//   }
//
//   .blue-changer:before {
//     background-size: 880px;
//
//     -webkit-transition: all 500ms linear;
//     -o-transition: all 500ms linear;
//     -moz-transition: all 500ms linear;
//     -ms-transition: all 500ms linear;
//     -kthtml-transition: all 500ms linear;
//     transition: all 500ms linear;
//     /*background-position: -60px -567px;*/
//   }
//
//   .aurous {
//     width: 155px;
//
//     position: absolute;
//     top: 440px;
//     left: 35px;
//
//     transform: rotate(51deg);
//   }
//
//   .aur_plus {
//     width: 13px;
//
//     position: absolute;
//     top: 760px;
//     left: 111px;
//
//     transform: rotate(51deg);
//   }
//
//   .ribbon-wrapper-green {
//     width: 1200px;
//     /*width: 100%;*/
//     height: 441px;
//     overflow: hidden;
//     position: absolute;
//     top: -441px;
//     left: 800px;
//       /*display: none;*/
//
//     /*-webkit-transition: all 500ms linear;
//     -o-transition: all 500ms linear;
//     -moz-transition: all 500ms linear;
//     -ms-transition: all 500ms linear;
//     -kthtml-transition: all 500ms linear;
//     transition: all 500ms linear;*/
//   }
//
//    .ribbon-green {
//      border: 1px solid green;
//     width: 1277px;
//     /*width: 103.625%;*/
//     height: 240px;
//
//     position: relative;
//     top: -13px;
//     left: -80px;
//     /*left: -7.8%;*/
//     overflow: hidden;
//
//     font: bold 15px Sans-Serif;
//     color: #333;
//     text-align: center;
//
//     -webkit-box-shadow: 114px 18px 17px -18px rgb(54, 54, 54);
//     -moz-box-shadow: 114px 18px 17px -18px rgb(54, 54, 54);
//     box-shadow: 114px 18px 17px -18px rgb(54, 54, 54);
//
//     /* Rotations */
//     -webkit-transform: rotate(-20.1deg);
//     -moz-transform:    rotate(-20.1deg);
//     -ms-transform:     rotate(-20.1deg);
//     -o-transform:      rotate(-20.1deg);
//     transform:         rotate(-20.1deg);
//   }
//
//   .ribbon-green:before {
//     width: 1203px;
//     /*width: 106.625%;*/
//     height: 441px;
//
//     position: absolute;
//     top: 20px;
//     left: 38px;
//     z-index: -1;
//
//     content: "";
//
//     background-image: url("flipped_pinkcream.png");
//     background-repeat: no-repeat;
//     background-size: 1198px;
//     /*background-size: 92.5%;*/
//     background-position: 0px -497px;
//     /*background-position: 1.5% 45%;*/
//
//
//     /* Counter-rotations for background image */
//     -webkit-transform:  rotate(20.1deg);
//     -moz-transform:     rotate(20.1deg);
//     -ms-transform:      rotate(20.1deg);
//     -o-transform:       rotate(20.1deg);
//     transform:          rotate(20.1deg);
//
//     -webkit-transition: all 500ms linear;
//     -o-transition: all 500ms linear;
//     -moz-transition: all 500ms linear;
//     -ms-transition: all 500ms linear;
//     -kthtml-transition: all 500ms linear;
//     transition: all 500ms linear;
//   }
//
//
//   .green-changer:before {
//     background-size: 1308px;
//     background-position: -60px -567px;
//
//     -webkit-transition: all 500ms linear;
//     -o-transition: all 500ms linear;
//     -moz-transition: all 500ms linear;
//     -ms-transition: all 500ms linear;
//     -kthtml-transition: all 500ms linear;
//     transition: all 500ms linear;
//   }
//
//   .saturday {
//     width: 190px;
//
//     position: absolute;
//     top: 50px;
//     left: 285px;
//
//     transform: rotate(20.1deg);
//   }
//
//   .sat_plus {
//     width: 13px;
//
//     position: absolute;
//     top: 195px;
//     /*top: 77.2%;*/
//     left: 1080px;
//     /*left: 70.1%;*/
//
//     transform: rotate(20.1deg);
//   }
//
//
//   .animator h1{
//     display: none;
//     position: absolute;
//     top: 890px;
//     left: 618px;
//     font-size: 26px;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     font-family: "Times New Roman";
//   }
//
//   .animator h1 span {
//     display: block;
//   }
//
//   .front_text {
//     display: none;
//     margin: 65px 0;
//   }
//
//   .front_text p {
//     text-transform: uppercase;
//     font-family: Arial;
//     width: 300px;
//     margin: 0 auto;
//     text-align: center;
//   }
//
//   .front_text a {
//     display: block;
//     text-align: center;
//     border: 1px solid black;
//     width: 61px;
//     margin: 10px auto;
//     padding: 2px 9px;
//     font-size: 1em;
//     text-transform: uppercase;
//     color: black;
//     font-family: Arial;
//     text-decoration: none;
//   }
// }

/* Smartphones (landscape) ---------------------------------------------------------------------------------------------------------------- */
/*@media only screen and (max-width : 768px) {...}*/

/* Big smartphones (portrait) (ie: Galaxy 3 has 360) -------------------------------------------------------------------------------------- */
@media only screen and (max-width : 640px) {}

/* Smartphones (portrait) (ie: Galaxy 1) -------------------------------------------------------------------------------------------------- */
@media only screen and (max-width : 325px) {
  .wrapper:not(.about) {
    width: 320px;
    // height: 1258px;
    margin: 115px auto;
    /*margin: 0 auto;*/

    position: relative;
    z-index: 90;

    background: white;
    overflow: hidden;

    /*-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);*/
  }

  .animator {
    width: 100%;
    height: 955px;
  }

  .circle-wrapper-red {
    width: 221px;
    /*width: 69.2%;*/
    height: 221px;
    margin: 15px 33px;
    /*margin: 7.08% 10.6%;*/
    display: none;
  }

  .circle-red {
    width: 221px;
    /*width: 100%;*/
    height: 221px;

    z-index: -2000;

    border-radius: 40% 0 0 0;

    text-align: center;

    background-image: url('eyes.png');
    background-repeat: no-repeat;
    background-position: 8px 30px;
    background-size: 210px;
    /*background-size: 99%;*/

    /*transitions*/
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -kthtml-transition: all 500ms linear;
    transition: all 500ms linear;
  }

  /*.red-changer {
    background-size: 219px;

    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -kthtml-transition: all 500ms linear;
    transition: all 500ms linear;
  }*/

  .chalogy {
    width: 210px;

    position: absolute;
    top: 467px;
    /*top: 39%;*/
    left: 530px;
    /*left: 44.2%;*/
  }

  .cha_plus {
    width: 13px;

    position: absolute;
    top: 490px;
    /*top: 40.8%;*/
    left: 885px;
    /*left: 73.8%;*/
  }

  /*.circle-triangle {
    width: 789px;
    height: 282px;

    position: absolute;
    top: 159px;
    left: 135px;

    -webkit-clip-path: polygon(0 232px, 631px 0, 671px 34px, 700px 66px, 740px 126px, 768px 186px, 790px 282px, 63px 282px);
    clip-path: polygon(0 232px, 631px 0, 671px 34px, 700px 66px, 740px 126px, 768px 186px, 790px 282px, 63px 282px);
  }*/

  /*.circle-triangle-two {
    width: 359px;
    height: 291px;

    position: absolute;
    top: 441px;
    left: 199px;

    -webkit-clip-path: polygon(0 0, 359px 293px,359px 0px);
    clip-path: polygon(0 0, 359px 293px,359px 0px);
  }*/

  .ribbon-wrapper-blue {
    width: 110px;
    height: 212px;

    /*display: none;*/

    position: absolute;
    top: -265px;
    left: -558px;

    overflow: hidden;
  }

  .ribbon-blue {
    width: 70px;
    height: 221px;
    position: relative;
    top: 4px;
    left: 12px;
    background-color: #414141;
    overflow: hidden;

    font: bold 15px Sans-Serif;
    color: #FFFFFF;
    text-align: center;


    -webkit-box-shadow: 3px 18px 13px 0px rgb(54, 54, 54);
    -moz-box-shadow: 3px 18px 13px 0px rgb(54, 54, 54);
    box-shadow: 3px 18px 13px 0px rgb(54, 54, 54);

    /* Rotations */
    -webkit-transform: rotate(-51deg);
    -moz-transform:    rotate(-51deg);
    -ms-transform:     rotate(-51deg);
    -o-transform:      rotate(-51deg);
  }

  .ribbon-blue:before {
    width: 155px;
    height: 217px;

    position: absolute;
    top: 0px;
    left: -38px;
    z-index: -1;

    content: "";

    background-image: url("flipped_CHA_largeBottle_TILT_frontView_goldTop_v02_fromAE.png");
    background-repeat: no-repeat;
    background-size: 155px;
    background-position: 0px 55px;

    /* Counter-rotations for background image */
    -webkit-transform:  rotate(51deg);
    -moz-transform:     rotate(51deg);
    -ms-transform:      rotate(51deg);
    -o-transform:       rotate(51deg);
    transform:          rotate(51deg);

    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -kthtml-transition: all 500ms linear;
    transition: all 500ms linear;
  }

  /*.blue-changer:before {
    background-size: 880px;

    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -kthtml-transition: all 500ms linear;
    transition: all 500ms linear;
  }*/

  .aurous {
    width: 155px;

    position: absolute;
    top: 440px;
    left: 35px;

    transform: rotate(51deg);
  }

  .aur_plus {
    width: 13px;

    position: absolute;
    top: 760px;
    left: 111px;

    transform: rotate(51deg);
  }

  .ribbon-wrapper-green {
    width: 320px;
    /*width: 100%;*/
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: -120px;
    left: 320px;
      /*display: none;*/

    /*-webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -kthtml-transition: all 500ms linear;
    transition: all 500ms linear;*/
  }

   .ribbon-green {
    width: 339px;
    /*width: 103.625%;*/
    height: 70px;

    position: relative;
    top: -10px;
    left: -23px;
    /*left: -7.8%;*/
    overflow: hidden;

    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;

    -webkit-box-shadow: 114px 18px 17px -18px rgb(54, 54, 54);
    -moz-box-shadow: 114px 18px 17px -18px rgb(54, 54, 54);
    box-shadow: 114px 18px 17px -18px rgb(54, 54, 54);

    /* Rotations */
    -webkit-transform: rotate(-20.1deg);
    -moz-transform:    rotate(-20.1deg);
    -ms-transform:     rotate(-20.1deg);
    -o-transform:      rotate(-20.1deg);
    transform:         rotate(-20.1deg);
  }

  .ribbon-green:before {
    width: 321px;
    /*width: 106.625%;*/
    height: 141px;

    position: absolute;
    top: 9px;
    left: 0px;
    z-index: -1;

    content: "";

    background-image: url("flipped_pinkcream.png");
    background-repeat: no-repeat;
    background-size: 320px;
    /*background-size: 92.5%;*/
    background-position: 0px -127px;
    /*background-position: 1.5% 45%;*/


    /* Counter-rotations for background image */
    -webkit-transform:  rotate(20.1deg);
    -moz-transform:     rotate(20.1deg);
    -ms-transform:      rotate(20.1deg);
    -o-transform:       rotate(20.1deg);
    transform:          rotate(20.1deg);

    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -kthtml-transition: all 500ms linear;
    transition: all 500ms linear;
  }


  /*.green-changer:before {
    background-size: 1308px;
    background-position: -60px -567px;

    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -kthtml-transition: all 500ms linear;
    transition: all 500ms linear;
  }*/

  .saturday {
    width: 190px;

    position: absolute;
    top: 50px;
    left: 285px;

    transform: rotate(20.1deg);
  }

  .sat_plus {
    width: 13px;

    position: absolute;
    top: 195px;
    /*top: 77.2%;*/
    left: 1080px;
    /*left: 70.1%;*/

    transform: rotate(20.1deg);
  }


  .animator h1{
    display: none;
    position: absolute;
    top: 890px;
    left: 618px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Times New Roman";
  }

  .animator h1 span {
    display: block;
  }

  .front_text {
    display: none;
    margin: 65px 0;
  }

  .front_text p {
    text-transform: uppercase;
    font-family: Arial;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  .front_text a {
    display: block;
    text-align: center;
    border: 1px solid black;
    width: 61px;
    margin: 10px auto;
    padding: 2px 9px;
    font-size: 1em;
    text-transform: uppercase;
    color: black;
    font-family: Arial;
    text-decoration: none;
  }
}
