.aur_hero {
  background-color: #000000;
  color: #FFFFFF;

	height: 1070px;

	.bread_crumb.aurous_crumb {
	  display: inline-block;
	  vertical-align: top;
	  margin: 30px 50px;

		a{
		  color: #FFFFFF;
		  font-family: WorkSans;
		  font-size: 0.8em;
		  letter-spacing: 1px;
		}

		.caret {
			fill: #A9A9A9;
		}
	}

	.aur_logo {
	  float: right;
	  margin: 30px 320px 60px 0;
	  width: 280px;
	}

	.aur_blurb {
	  display: block;
	  width: 225px;
	  text-align: center;
	  font-weight: 100;
	  font-size: 0.8em;
	  margin: 40px 0 0 145px;
	  font-family: WorkSans;
	  letter-spacing: 2px;
		line-height: 1.5;
	}

	.aur_blurb::before {
	  content: '';
	  width: 125px;
	  margin: 0 auto 25px;
	  border-bottom: 1px solid #AA8A37;
	  display: block;
	}

	.hero_blurb {
	  display: inline-block;
	  margin: 260px 0 0 20px;

		.enrich_blurb {
		  font-family: MillerBanner;
		  text-align: center;
		  display: inline-block;
		  font-weight: 100;
		  /*margin: 260px 0 0 50px;*/
		  letter-spacing: 4px;
		  width: 470px;
			font-size: 2.3em;
			color: #FFFFFF;
		}

		.read_more {
			display: block;
			color: white;
			border: 1px solid #AA8A37;
			width: 135px;
			text-align: center;
			margin: 0 auto;
			padding: 3px 15px;
			font-family: WorkSans;
			font-size: 0.8em;
			letter-spacing: 1px;
			font-weight: bold
		}
	}

	.cara_one, .cara_two, .cara_three {
	  height: 760px;
	  background-repeat: no-repeat;
	  background-position: 400px 0px;
	  background-size: 758px;
	  clear: both;
	}

	.cara_one {
	  background-image: url('aurous_home_tall.jpg');
	  // display: block;
	  /*display: none;*/
	}

	.cara_two {
	  background-image: url('aurous_home_squat.jpg');
	  /*display: block;*/
	  // display: none;
	}

	.cara_three {
	  background-image: url('aurous_home_tube.jpg');
	  /*display: block;*/
	  // display: none;
	}

	.carousel-indicators {
		width: 102px;
		margin: 0 0 0 -505px;
		text-align: center;

		.active {
			background-color: #EEEEEE !important;
			border: none;
      width: 10px;
      height: 10px;
      margin: 1px;
		}

		li {
			background-color: #888888 !important;
			border: none;
		}
	}
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

// WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
// Need to override the 3.3 new styles for modern browsers & apply opacity
// CROSS-FADE BOOTSTRAP CAROUSEL
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.aur_main {
	.leftie {
	  display: inline-block;
	  margin: 35px 0 0 75px;
	  vertical-align: bottom;

		img {
		  vertical-align: bottom;
		}
	}

	.rightie {
	  display: inline-block;
	  width: 487px;
	  vertical-align: top;
	  margin: 65px 0 0 45px;

		.aur_title {
			text-transform: uppercase;
			font-family: MillerBanner;
			width: 380px;
			text-align: center;
			margin: 0 auto;
			letter-spacing: 2px;
		}

		.aur_long {
			font-family: WorkSans;
			text-align: center;
			font-weight: 600;
			font-size: 0.9em;
			line-height: 1.5;
			letter-spacing: 1px;
		}

		.aur_all {
			border: 1px solid #AA8A37;
			font-family: WorkSans;
			font-weight: 600;
			letter-spacing: 1px;
			font-size: 0.9em;
			margin: 20px 0 0 170px;
			padding: 5px 10px;
			display: block;
			width: 135px;
			color: #000000;
		}
	}
}
