.aurous_home {
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(45deg, rgba(3, 3,  3, 1) 0%, rgba(66, 65, 65, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(3, 3,  3, 1)), color-stop(100%, rgba(66, 65, 65, 1)));
  background: -webkit-linear-gradient(45deg, rgba(3, 3,  3, 1) 0%, rgba(66, 65, 65, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(3, 3,  3, 1) 0%, rgba(66, 65, 65, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(3, 3,  3, 1) 0%, rgba(66, 65, 65, 1) 100%);
  background: linear-gradient(45deg, rgba(3, 3,  3, 1) 0%, rgba(66, 65, 65, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030303', endColorstr='#424141', GradientType=1 );

  background-image: url('aurous_main.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 0 15%;
  display: inline-block;

  .aurous_text_stuff {
    // margin: 10% 0 0 25%;
    // width: 250px;

    .hero_logo {
      width: 250px;
      display: block;
    }

    .antidote, .coming {
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
    }

    .antidote {
      font-family: 'Work Sans';
      font-weight: lighter;
      font-size: 17px;
    }

    .coming {
      font-size: 33px;
    }
  }


}

.aur_hero {
  background-color: #000000;
  color: #FFFFFF;
	height: 1070px;

  a:hover:not(.aurous-bread) {
    color: #FFFFFF !important;
  }

  .wrapper {
    background-color: #000000;
    overflow: visible;

    .bread_crumb.aurous_crumb {
      display: inline-block;
      vertical-align: top;
      margin: 30px 50px;

      a{
        color: #FFFFFF;
        font-family: 'Work Sans';
        font-weight: lighter;
        // font-size: 13px;
        letter-spacing: 1px;
      }

      .caret {
        fill: #A9A9A9;
      }
    }

    .aur_blurb {
      display: block;
      text-align: center;
      font-weight: 100;
      font-family: 'Work Sans';

      &::before {
        content: '';
        border-bottom: 1px solid #AA8A37;
        display: block;
      }
    }

    .hero_blurb {
      display: inline-block;

      .enrich_blurb {
        text-align: center;
        // display: inline-block;
        font-weight: 100;
        letter-spacing: 4px;
        color: #FFFFFF;
      }

      .read_more {
        display: block;
        color: white;
        border: 1px solid #AA8A37;
        text-align: center;
        margin: 0 auto;
        padding: 3px 15px;
        font-family: 'Work Sans';
        letter-spacing: 1px;
        font-weight: bold;
      }
    }

    .carousel-indicators {
      width: 102px;
      text-align: center;
      background-color: #000000;

      .active {
        background-color: #EEEEEE !important;
        border: none;
        width: 10px;
        height: 10px;
        margin: 1px;
      }

      li {
        background-color: #888888 !important;
        border: none;
      }
    }
  }
}

.aur_main {
  margin: 0 auto;

	.leftie {
	  // display: inline-block;
	  margin: 35px 0 0 75px;
	  vertical-align: bottom;

		img {
		  vertical-align: bottom;
		}
	}

	.rightie {
	  display: inline-block;
	  width: 495px;
	  vertical-align: top;
	  margin: 65px 0 0;

		.aur_title {
      font-size: 30px;
      // width: 380px;
			text-transform: uppercase;
      letter-spacing: 2px;
			text-align: center;
			margin: 0 auto 30px;
		}

		.aur_long {
			// font-family: WorkSans;
			text-align: center;
			font-weight: normal;
			// font-size: 15px;
			line-height: 1.5;
      letter-spacing: 2px;
      // width: 502px;
		}

		.aur_all {
			border: 1px solid #AA8A37;
			font-family: 'Work Sans';
			font-weight: 900;
			letter-spacing: 1px;
			font-size: 15px;
			margin: 20px 0 0 170px;
			padding: 5px 10px;
			display: block;
			width: 152px;
			color: #000000;
		}
	}
}

@media screen and (min-width: 1200px) {
  .wrapper {
    .bread_crumb.aurous_crumb {
      margin: 30px 50px;

      a{
        font-size: 13px;
      }
    }

    .aur_logo {
      width: 280px;
      float: right;
      margin: 30px 280px 60px 0;
    }

    .aur_blurb {
      width: 225px;
      font-size: 15px;
      margin: 40px 0 0 145px;
      letter-spacing: 2px;
      line-height: 1.5;

      &::before {
        width: 125px;
        margin: 0 auto 20px;
      }
    }

    .hero_blurb {
      margin: 260px 0 0 22px;

      .enrich_blurb {
        display: inline-block;
        letter-spacing: 4px;
        width: 470px;
        font-size: 30px;
      }

      .read_more {
        width: 151px;
        margin: 0 auto;
        padding: 3px 15px;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: bold;
      }
    }

    .cara_one, .cara_two, .cara_three {
      height: 760px;
      background-repeat: no-repeat;
      background-position: 400px 0px;
      background-size: 758px;
      clear: both;
    }

    .cara_one {
      background-image: url('aurous_home_tall.jpg');
    }

    .cara_two {
      background-image: url('aurous_home_squat.jpg');
    }

    .cara_three {
      background-image: url('aurous_home_tube.jpg');
    }

    .carousel-indicators.aurous-home-desk {
      width: 112px;
      margin-left: 11%;
      bottom: -50px;

      //  margin: 0 0 0 -53%;
      // left: 39% !important;
      // margin-left: 0;
      // bottom: -40px !important;
    }
  }

  .aur_main {
    width: 1200px;
  }

  .desktop {
    &.carousel-inner {
      display: block;
    }

    &.leftie {
      display: inline-block;
    }
  }

  .mobile-tablet {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .aurous_text_stuff {
    margin: 10% 0 0 25%;
    width: 250px;

    .hero_logo {
      width: 250px;
      display: block;
    }
  }
}


@media screen and (min-width: 767px) and (max-width: 1199px) {
  .aur_hero {
    height: 95vw;

    .wrapper {
      width: 100%;

      .bread_crumb.aurous_crumb {
        margin: 30px 50px;

        a{
          font-size: 1.1vw;
        }
      }

      .aur_logo {
        float: right;
        margin: 30px 20vw 60px 0;
        width: 23.4vw;
      }

      .aur_blurb {
        width: 18.5vw;
        font-size: 1.2vw;
        margin: 40px 0 0 145px;
        letter-spacing: 2px;
        line-height: 1.5;

        &::before {
          width: 53%;
          margin: 0 auto 20px;
        }
      }

      .hero_blurb {
        margin: 22vw 0 0 2vw;

        .enrich_blurb {
          display: inline-block;
          letter-spacing: 4px;
          width: 470px;
          font-size: 2.5vw;
        }

        .read_more {
          width: 11.9vw;
          margin: 0 auto;
          padding: 3px 15px;
          font-size: 1.2vw;
          letter-spacing: 1px;
          font-weight: bold;
        }
      }

      .cara_one, .cara_two, .cara_three {
        height: 64vw;
        background-repeat: no-repeat;
        background-position: 34vw 0px;
        background-size: 64vw;
        clear: both;
      }

      .cara_one {
        background-image: url('aurous_home_tall.jpg');
      }

      .cara_two {
        background-image: url('aurous_home_squat.jpg');
      }

      .cara_three {
        background-image: url('aurous_home_tube.jpg');
      }

      .carousel-indicators.aurous-home-desk {
        width: 112px;
        margin-left: 11%;
        bottom: -50px;
      }
    }
  }

  .desktop {
    &.carousel-inner {
      display: block;
    }

    &.leftie {
      display: inline-block;
    }
  }

  .mobile-tablet {
    display: none;
  }

  .aur_main {
    width: 100%;
    margin: 0 auto;

    .leftie {
      width: 33.6%;
      margin: 3vw 0 0 6.4vw;

      img {
        width:  100%;
      }
    }

    .rightie {
      width: 42%;
      margin: 5vw 0 0 15vw;

      .aur_title {
        font-size: 2.5vw;
      }

      .aur_long {
        font-size: 1.25vw;
      }

      .aur_all {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .aurous_text_stuff {
    width: 100%;
    margin: 0 auto;

    .hero_logo {
      margin: 40px auto 0;
    }
  }

  .aur_hero {
    height: 1000px;

    .wrapper {
      width: 100%;
      height: auto;
      margin: 0;

      .bread_crumb.aurous_crumb {
        display: block;
      }

      .aur_logo {
        float: none;
        margin: 30px auto;
        display: block;
        width: 50%;
      }

      .aur_blurb {
        width: 108px;
        margin: 0 auto;
        font-size: 15px;

        &::before {
          margin: 0 0 5px 0;
        }
      }

      .hero_blurb {
        img {
          width: 80%;
          display: block;
          margin: 30px auto;
        }

        .enrich_blurb {
          display: block;
        }

        .read_more {
          width: 140px;
        }
      }
    }
  }

  .aur_main {
    width: 90%;

    .leftie {
      width: 100%;
      margin: 0;

      img {
        width: 43vw;
        margin:  0 auto;
        display: block;
      }
    }

    .rightie {
      display: block;
      width: 100%;
      margin: 65px 0 30px;

      .aur_title {
        font-size: 6vw;
      }

      .aur_long {
        font-size: 14px;
      }

      .aur_all {
        margin: 0 auto;
      }

    }
  }

  .desktop {
    display: none;
  }

  .mobile-tablet {
    display: block;

    .cara_one, .cara_two, .cara_three {
      background-image: none;
    }
  }
}
