html {
	background-color: white;
}

.body-wrap {
	max-width: 1200px;
	margin: 0 auto;
}

* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Add your fractal Sass files below!
@import 'navbar/navbar';
@import 'homenavbar/homenavbar';
@import 'socialIcons/socialIcons';
@import 'footers/footers';

@import 'home/home';
@import 'search/search';
@import 'about/about';
@import 'innovation/innovation';
@import 'aurous/aurous';
@import 'aurous_brand/aurous_brand';
@import 'aurous_products/aurous_products';
@import 'aurous_productdetail/aurous_productdetail';
@import 'saturday_skin/saturday_skin';
@import 'saturday_products/saturday_products';
@import 'saturday_brand/saturday_brand';
@import 'proddetail/proddetail';
@import 'login/login';