<!-- navbar test -->
<div id="scrollable-div">
    <div id="top-logo-logo"><a href="/" ui-sref="home"><img id="top-logo" src="logo/main_logo.png" alt="Brand"></a></div>
</div>
<div id="fixed-nav-div">
    <div id="fixed-nav-body">
        <div class="first-part" id="nav-menu-menu"><a ui-sref="home" style="padding-left: 40px;"><img id="btm-brand-logo" src="logo/main_logo_navbar.png" alt="Brand"></a></div>

        <div class="second-part">
            <div class="col-xs-31">
                <li class="dropdown" id="dropdown-about">
                  <a class="about-nav" href="/about" ui-sref="about" ng-class="{selected:isAbout()}" >ABOUT</a>
                  <div class="dropdown-aboutcontent">
                   <a href="/about" class="inn-nav up-arrow-about" ui-sref="about" ng-class="{selected:isActive('about/')}">The Story</a>
                   <a href="/chaum" class="inn-cha-nav" ui-sref="chaum" ng-class="{selected:isActive('chaum')}">Chaum</a>
                   <a href="/cha-health-systems" class="inn-cha-nav" ui-sref="cha-health-systems" ng-class="{selected:isActive('cha-health-systems')}">CHA Health Systems</a>
                 </div>
                </li>
              </div>

              <div class="col-xs-32">
                <li class="dropdown" id="dropdown-innovation">
                  <a href="/innovation" class="inn-nav" ui-sref="innovation" ng-class="{selected:isActiveFor('innovation/')}" >INNOVATION</a>
                </li>
              </div>

              <div class="col-xs-33">
                <li class="dropdown" id="dropdown-aurous">
                   <a href="aurous" ui-sref="aurous" ng-class="{selected:isActiveFor('aurous')}" style="list-style: none;">AUROUS</a>
                <!--    <div class="dropdown-aurouscontent">
                    <a href="/aurous" ui-sref="aurous" class="up-arrow" ng-class="{selected:isActive('aurous')}">THE BRAND</a>
                    <a href="/aurous/products" ui-sref="aurous_products" id="aurous-bottom" ng-class="{selected:isActive('aurous/products')}">THE PRODUCTS</a>
                  </div> -->
                </li>
              </div>

            <div class="col-xs-34">
              <li class="dropdown" id="dropdown-satskin">
                <a class="saturday-skin-nav" href="/saturday-skin" ui-sref="saturday-skin" ng-class="{selected:isActiveFor('saturday-skin')}" style="list-style: none;">SATURDAY SKIN</a>
                <div class="dropdown-content">
                  <a href="/saturday-skin" ui-sref="saturday-skin" class="up-arrow" ng-class="{selected:isActive('saturday-skin')}">THE BRAND</a>
                  <a href="/saturday-skin/products" ui-sref="saturday_products" id="sat-skin-bottom" ng-class="{selected:isActive('saturday-skin/products')}">THE PRODUCTS</a>
                </div>
              </li>
            </div>
        </div>
        
        <div class="third-part">
            <input id="testingsearch1" type="text" ng-model="text"><img id="callingsearchs1" src="search1.png"  />
        </div>       
    </div>
</div>
<div class="shift-fix"></div>

<!-- mobile (width: 750px) navbar -->
<div class="mobile-menu">
  <div class="menu-mobile1" style="float:left;">
    <button onclick="myFunction()" class="popup-btn1"></button>
      <div id="mobilePop1" class="popup-content1" style="left:0;">
        <a href="/about" ui-sref="about">ABOUT</a>
        <a href="/chaum" ui-sref="chaum">CHAUM</a>
        <a href="/cha-health-systmes" ui-sref="cha-health-systems">CHA HEALTH SYSTEMS</a>
        <a href="/innovation" ui-sref="innovation">INNOVATION</a>
        <a href="aurous" ui-sref="aurous">AUROUS</a>
        <!-- <a href="/aurous/products" ui-sref="aurous_products">AUORUS PRODUCTS</a> -->
        <a href="/saturday-skin" ui-sref="saturday-skin">SATURDAY SKIN</a>
        <a href="/saturday-skin/products" ui-sref="saturday_products">SATURDAY SKIN PRODUCTS</a>
      </div>
  </div>

  <div class="mobile-logo1"><a ui-sref="home"><img id="btm-brand-logo" src="logo/main_logo_navbar.png" alt="Brand"></a></div>
  
  <div class="third-part-mobile">
    <img id="callingsearchs1" src="search1.png"  />

    <div id="search-popup" class="popup-content-search" style="left:0;">
      <div class="close-button"><img src="icons/close-icon.png"></div>

      <div class="search-content">
        <input id="mobile-search" type="text" ng-model="text" placeholder="Type to search"></input>
        <!-- <div id="mobile-search-icon"> <img src="search1.png"  /></div> -->
      </div>
      
    </div>
  </div>        

</div>
<div class="clean-and-clear2"></div>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("mobilePop1").classList.toggle("show");
}


// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.popup-btn1')) {

    var dropdowns = document.getElementsByClassName("popup-content1");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>



<!-- end nav bar --> 





