/* navigation bar */

#scrollable-div {
	width: 100%;
	height: 120px;
	background-color: white;
}

#top-logo-logo {
	width: 224px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 26px;
}

#top-logo {
  	width: 236px;
  	height: 64px;
}

#fixed-nav-div {
	width: 100%;
	height: 60px;
	background-color: white;
	border-bottom: 1px solid #e5e5e5 !important; 
	z-index: 9999;

}

#fixed-nav-body {
	max-width: 1200px;
	width: 100%;
	text-align: center;
	height: 60px;
	margin: 0 auto;
	background-color: white;
	border-bottom: 1px solid #e5e5e5 !important; 
}


.posi{
    position:fixed;
    margin-top: 0;
    top:0;
    /*z-index: 9999 !important;*/
}


/* fixed nav bar styling */
#nav-menu-menu {
	opacity: 0;
	float: left;
}

#first-part, #second-part, #third-part {
	display: inline-block;
}

.first-part {
	width: 118px;
	height: 60px;
	float: left;
}

#btm-brand-logo {
	width: 118px;
  	height: 32px;
  	margin-top: 14px;
}

.second-part {
	display: inline-block;
	margin: 0 auto;
	width: 552px;
	height: 60px;
	/*background-color: white;*/
	font-size: 13px;
    font-family: 'Work Sans';
    padding-top: 21px;
    padding-left: 47px;
    border-bottom: 1px solid #e5e5e5 !important;
}

.second-part > li {
	list-style: none;
}

.col-xs-31 {
  width: 20%;
  display: inline-block;
}

.col-xs-32 {
  width: 26%;
  display: inline-block;
}

.col-xs-33 {
  width: 20%;
  display: inline-block;
}

.col-xs-34 {
  width: 22%;
  display: inline-block;
}

.third-part {
	float: right;
	height: 60px;
	width: 200px;
	background-color: white;
    border-bottom: 1px solid #e5e5e5 !important; 
}

input:focus{
    outline: none;
}

#testingsearch1 {
    width: 145px;
    margin-top: 15px;
    opacity: 0;
    border: none;
    border-bottom: 1px solid black;
}

#callingsearchs1 {
    height: 15px;
    width: 15px;
    padding-left: 2px;
    margin-right: 40px;
}
  
ul.nav-menu {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 auto;
}

li.dropdown > a{
  opacity: 0.8;
  color: grey;
}

#center-nav {
	width: 512px;
	margin: 0 auto;
}

div.fade-in-effect-logo {
    position: relative;
    -webkit-animation: fadeinlogo 2s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation: fadeinlogo 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeinlogo {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeinlogo {
    from {opacity: 0;}
    to {opacity: 1;}
}

div.fade-out-effect-logo {
    position: relative;
    -webkit-animation: fadeoutlogo 2s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation: fadeoutlogo 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeoutlogo {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeoutlogo {
    from {opacity: 1;}
    to {opacity: 0;}
}

input.fade-out-effect-input{
    position: relative;
    -webkit-animation: fadeoutinput 1s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation: fadeoutinput 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeoutinput {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeoutinput {
    from {opacity: 1;}
    to {opacity: 0;}
}

input.fade-in-effect-input {
    position: relative;
    -webkit-animation: fadeininput 1s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation: fadeininput 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeininput {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeininput {
    from {opacity: 0;}
    to {opacity: 1;}
}


.menu-mobile1, .mobile-logo1, .third-part-mobile {
  display: none;
}

/* hahahahahahahaha end nav **/

.shift-fix {
    width: 100%;
    height: 60px;
    background-color: white;
    display: none;
}

.about-nav, .saturday-skin-nav {
    height: 22px;
    display: inline-block;
}


/* for dropdown */
.dropdown {
  position: relative;
  z-index: 9999;
}

ul.navbar li.dropdown {
  text-align: right;
  z-index: 9999;
  height: 35px;
}

.dropdown-content {
  display: none;
  position: absolute;
  /*margin-top: 4px;*/
  margin-left: 14px;
  min-width: 100px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-aboutcontent {
  display: none;
  position: absolute;
  /*margin-top: 0px;*/
  margin-left: -35px;
  min-width: 120px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-aurouscontent {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -45px;
  min-width: 160px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-aurouscontent a, .dropdown-content a, .dropdown-aboutcontent a {
    color: grey;
    opacity: 0.8;
    padding: 4px 14px;
    display: block;
    text-transform: uppercase;
}

.dropdown-aurouscontent a:hover, .dropdown-content a:hover, .dropdown-innovationcontent a:hover, .dropdown-aboutcontent a:hover {background-color: white; z-index: 9999;}
.dropdown-content a:hover {background-color: white; z-index: 9999;}

.dropdown:hover .dropdown-aurouscontent,
.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-innovationcontent {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropdown-aurouscontent, .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-innovationcontent, .dropdown:hover .dropdown-aboutcontent {
  display: block;
  background-color: white;
  z-index: 9999;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropbtn {
    z-index: 9999;
}

#dropdown-about {
    width: 50px; 
    list-style: none;
    padding-left: 2px;
}

#dropdown-innovation {
    width: 82px; 
    list-style: none;
}

#dropdown-aurous {
    width: 56px; 
    padding-left:4px; 
    list-style: none;
}

#dropdown-satskin {
    width: 160px; 
    padding-left:5px; 
    list-style: none;
}

/* up arrow testing */
a.up-arrow {
  display: inline-block;
  position: relative;
  background: white;
  /*color: grey;*/
  opacity: 0.8;
  text-decoration: none;
  padding-top: 12px;
}

a.up-arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 47px;
  /*left: 48px;*/
  top: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

a.up-arrow-about {
  display: inline-block;
  position: relative;
  background: white;
  /*color: grey;*/
  opacity: 0.8;
  text-decoration: none;
  padding-top: 12px;
}

a.up-arrow-about:after {
  content: '';
  display: block;
  position: absolute;
  left: 44px;
  /*left: 43%;*/
  top: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* indicate current page in navigation */
.selected {
  color: black !important;
  display: inline-block;
  pointer-events: none;
}

.show-popup {
  display: block !important;
}

.hide-popup {
  display: none !important;
}

.clean-and-clear2 {
  width: 100%;
  height: 60px;
  display: none;
}

@media screen and (max-width: 964px){ 

.dropdown-aurouscontent a, .dropdown-content a, .dropdown-aboutcontent a {
    padding: 10px 14px;
}

.second-part {
    width: 450px;
}

#testingsearch1 {
    width: 130px;
    margin-left: 35px;
}

#callingsearchs1 {
    margin-right: 15px;
}

.second-part {
    width: 420px;
}

}

@media screen and (max-width: 750px){ 

.clean-and-clear2 {
  display: block;
}

#scrollable-div, #fixed-nav-div {
  display: none;
}

.mobile-menu {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 9999;
  border-bottom: 1px solid #e5e5e5;
}

.menu-mobile1 {
  position: relative;
  display: inline-block;
  padding-left: 4px;
  padding-top: 4px;
  width: 80px;
  height: 60px;
}

.popup-btn1 {
  background-color: white;
  width: 45px;
  height: 40px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  background-image: url("menu-22.png");
  background-repeat: no-repeat;
}

.popup-btn1:hover, .popup-btn1:focus {
    background-color: white;
    outline: none;
}

.popup-content1 {
  display: none;
  position: absolute;
  margin-top: 13px;
  background-color: rgba(25, 28, 59, 0.9);
  /*min-width: 300px;*/
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 9999;
  text-align: center;
}

.popup-content1 a {
  color: rgba(173, 216, 230, 0.9);
  font-family: WorkSans;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px 16px;
  text-decoration: none;
  border-top: 1px solid rgba(173, 216, 230, 0.4);
  display: block;
}

.popup-content-search {
  display: none;
  position: absolute;
  margin-top: 24px;
  background-color: rgba(25, 28, 59, 0.9);
  width: 100vw;
  height: 160px;
  /*overflow: auto;*/
  z-index: 999;
  text-align: center;

  color: rgba(173, 216, 230, 0.9);
  font-family: WorkSans;
  font-weight: 700;
}


.menu-mobile1 a:hover {background-color: #f1f1f1}

.show {display:block;}

.mobile-logo1 {
  display: block;
  /*margin-left: 42%;*/
  margin: 0 auto;
  width: 118px;
}

.mobile-menu {
  text-align: center;
}

.third-part-mobile {
  display: inline-block;
  float: right;
  height: 30px;
  width: 40px;
  background-color: white;
  margin-top: -30px;
}

.close-button {
  z-index: 9999;
}


}
