.video-cover {
	/*position: relative;*/
}

.video-center {
	text-align: center;
}

.textbox-in-video {
	position: absolute;
	left: 1013px;
	top: 1311px;
	z-index: 999;
}


.text-in-video {
    position:relative;
    line-height:2em;
    /*overflow:hidden;*/
    /* for demo purpose */
    width:300px;
    margin:0 auto;
    opacity: 0;
}


.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:100%;
    background:white;

    -moz-animation: showHide 2s ease-in alternate infinite; /* Firefox */
    -webkit-animation: show 3s ease-in-out ; /* Safari and Chrome */
    -ms-animation: showHide 2s ease-in alternate infinite; /* IE10 */
    -o-animation: showHide 2s ease-in alternate infinite; /* Opera */
    animation: show 3s ease-in-out;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show { /* Chrome, Safari */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@-moz-keyframes sho { /* FF */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}
@-ms-keyframes show { /* IE10 */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}
@-o-keyframes show { /* Opera */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}
@keyframes showHide {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:100%;}
}

/* more animation */


.anima {
    position: absolute;
    top: 1290px;
    left: 1107px;
}

#hey {
    opacity: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#hey1 {
    opacity: 0;
}

div.hey {
    opacity: 0;
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    -webkit-animation: mymove 5s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation: mymove 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

div.hey1 {
    opacity: 0;
    position: relative;
    -webkit-animation: mymove 4s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation: mymove 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
/*    from {left: 0px; opacity: 0;}
    to {left: 200px; opacity: 1;}*/

    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes mymove {
/*    from {left: 0px; opacity: 0;}
    to {left: 200px; opacity: 1;}
*/    
    from {opacity: 0;}
    to {opacity: 1;}
}




