.fadingEffect {
    position:absolute;
    top:0; bottom:0; right:0;
    width:100%;
    background:white;
    /*opacity: 0;*/

    -moz-animation: show 2s ease-in alternate infinite; /* Firefox */
    -webkit-animation: show 3s ease-in-out ; /* Safari and Chrome */
    -ms-animation: show 2s ease-in alternate infinite; /* IE10 */
    -o-animation: show 2s ease-in alternate infinite; /* Opera */
    animation: show 3s ease-in-out;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.fadingEffect-8 {
    position:absolute;
    top:0; bottom:0; right:0;
    width:100%;
    background:white;
    /*opacity: 0;*/

    -moz-animation: showEight 2s ease-in alternate infinite; /* Firefox */
    -webkit-animation: showEight 3s ease-in-out ; /* Safari and Chrome */
    -ms-animation: showEight 2s ease-in alternate infinite; /* IE10 */
    -o-animation: showEight 2s ease-in alternate infinite; /* Opera */
    animation: showEight 3s ease-in-out;
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.fadingEffect-to-left {
    position:absolute;
    top:0; bottom:0; left:0;
    width:100%;
    background:white;

    -moz-animation: show 2s ease-in alternate infinite; /* Firefox */
    -webkit-animation: show 3s ease-in-out ; /* Safari and Chrome */
    -ms-animation: show 2s ease-in alternate infinite; /* IE10 */
    -o-animation: show 2s ease-in alternate infinite; /* Opera */
    animation: show 3s ease-in-out;
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes show { /* Chrome, Safari */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@-moz-keyframes show { /* FF */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@-ms-keyframes show { /* IE10 */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@-o-keyframes show { /* Opera */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@keyframes show {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}

/* for animation 8 */
@-webkit-keyframes showEight { /* Chrome, Safari */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@-moz-keyframes showEight { /* FF */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@-ms-keyframes showEight { /* IE10 */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@-o-keyframes showEight { /* Opera */
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}
@keyframes showEight {
    0% {width:100%}
    40% {width:0%}
    60% {width:0%;}
    100% {width:0%;}
}


p.fade-in-effect {
    opacity: 0;
    position: relative;
    -webkit-animation: mymove 4s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation: mymove 4s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}

div.fade-out-effect {
     /*opacity: 1;*/
    position: relative;
    -webkit-animation: fadeout 3s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation: fadeout 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 0;}
    to {opacity: 1;}
}

div.fade-out-effect2 {
     /*opacity: 1;*/
    position: relative;
    -webkit-animation: realfadeout 1s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation: realfadeout 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes realfadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes realfadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.click-to-discover {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin: 0 0 20px;
    font-family: MillerBanner;
}

.click-to-discover > h4 {
    font-size: 14px;
}

.video-text-deco {
    font-family: MillerBanner;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}



