.cha {
	width: 904px;
	margin: 0 auto;

	.heroish{
		margin: 146px 0 47px 0;

		.left-hero {
			width: 446px;
			display: inline-block;
			margin: 0 8px 0 0;

			img {
				display: block;
			}

			.cha-tagline {
				width: 233px;
				margin: 35px 0 0 62px;
				position: relative;
				font-family: MinionPro;
				font-size: 16px;
				font-weight: 800;

				&::before {
					content: '';
					display: block;
					border-top: 1px solid #000000;
					border-left: 1px solid #000000;
					width: 25px;
					height: 25px;
					position: absolute;
					top: -10px;
					left: -12px;
				}
			}
		}

		.right-hero	 {
			width: 446px;
			display: inline-block;
			vertical-align: top;

			h1 {
				font-size: 120px;
				margin: 49px 0 0 -75px;
				font-family: MillerBanner;
				color: #000000;
			}

			h4 {
				font-size: 20px;
				text-transform: uppercase;
				margin: -20px 0 90px 8px;
				font-family: WorkSans;
			}

			.what {
				background-color: #000000;
				color: #FFFFFF;
				padding: 40px 35px 90px;

				a {
					text-transform: uppercase;
					color: #FFFFFF;

					&:hover,
					&:focus {
						color: #FFFFFF;
					}
				}
			}
		}
	}

	.complex {
		h2 {
			border: 1px solid #000000;
			width: 100%;
			text-align: center;
			padding: 20px 0 16px;
			text-transform: uppercase;
			font-size: 27px;
			color: #000000;
		}

		.down-arr {
			svg {
				display: block;
				margin: -14px auto 45px;
				width: 15px;
				height: 15px;
			}
		}

		.cha-complex {
			img {
				margin: 0 0 28px 0;
			}
		}

		p {
			text-align: center;
			font-style: italic;
			font-size: 14px;
		}
	}
}

.random-box {
	width: 90%;
	margin: 0 auto;
}

.box {
	width: 100px;
	height: 200px;
	text-align: center;
}

.fb-share-button {
	width: 50px !important;
	height: 50px !important;
}

.responsive-image {
	width: 1200px;
	height: 160px;
}

#responsive {
	width: 100%;
	max-width: 1200px;
	height: auto;
}

