.saturday_home {
  position: relative;
  height: auto;

  a {
    font-family: 'Work Sans';
  }

  .sat_hero {
    .bread_crumb {
      display: inline-block;
      vertical-align: top;

      a {
        color: black;
        font-size: 13px;
        text-decoration: none;
      }

      .caret {
        fill: #A9A9A9;
      }
    }

    .dial {
      vertical-align: top;

      .dial_text {
        display: block;
        font-weight: bold;


        .for {
          display: block;

          &::after {
            content: '';
            display: block;
            margin: 5px 0;
            width: 54%;
            border-top: 8px solid #000000;
          }
        }
      }
    }

    .sat_skin_title {
      width: 885px;
      margin: -17px 0 0 -245px;
    }

    .text_box {

      .long_text {
        font-family: 'Work Sans';
      }

      .tagline {
        clear: both;
        margin: 0;
      }
    }
  }

  .sat_hero {
    background-image: url('ss_main.jpg');
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    position: relative;

    .white-things {
      // margin: 0 60px 0;
      // width: 400px;
      clear: both;
      float: right;

      .white {
        background-color: #FFFFFF;
        height: 10px;
        width: 20px;
        margin: 0;
        padding: 0;
      }

      .w-one {
        float: left;
      }

      .w-two{
        float: right;
      }

    }
  }


  main {
    .leftie {
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 2;

      h1 {
        // font-family: MillerBanner;
        margin: 0 0 10px 0;
        color: rgb(0, 209, 165);
        width: 9em;
        line-height: 1;
      }

      a {
        // font-family: WorkSans;
        font-weight: bold;
        color: rgb(126, 126, 126);
        border: 10px solid #E5E5E5;
        padding: 10px 18px;
        display: block;
        width: 200px;
        margin: 20px 0 0;
        font-size: 0.9em;
        letter-spacing: 1px;

        &:hover {
          border-color: rgb(0, 209, 165);
          color: rgb(0, 209, 165) !important;
        }
      }
    }

    .rightie {
      display: inline-block;
      position: relative;
      z-index: 1;

      .three_drops {
        vertical-align: top;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .sat_hero {
    width: 1200px;
    margin: 0 auto;

    .bread_crumb {
      padding: 20px 0 0 40px;
    }

    // .dial {
    //   padding: 30px 0 0 60px;
    //   display: inline-block;
    //
    //   .dial_text {
    //     font-size: 65px;
    //     color: #000000;
    //   }
    // }

    .text_box {
      margin: 491px 60px 0 0;
      width: 400px;
      padding: 40px 40px 10px 40px;
      float: right;
      background-color: #FFFFFF;

      .long_text {
        font-size: 15px;
        margin: 0 0 2vw 0;
      }

      .tagline {
        font-size: 35px;
        margin: 0;
      }
    }

    .white-things {
      margin: 0 60px 0;
      width: 400px;
    }
  }

  .sat_hero {
    height: 797px;
  }

  main {
    width: 1080px;
    margin: 55px auto;

    .leftie {
      width: 580px;


      h1 {
        font-size: 65px;
      }

      p {
        font-size: 15px;
      }
    }

    .rightie {
      margin: 0 0 0 100px;

      .three_drops {
        width: 390px;
        top: 60px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .sat_hero {
    width: 100%;

    .dial {
      padding: 1.6% 0 0 2%;
      font-size: 2vw;
      display: inline-block;

      .dial_text {
        font-size: 3.5vw;
      }
    }

    .bread_crumb {
      padding: 1.7vw 0 0 3.3vw;
    }

    .text_box {
      width: 33.4vw;
      background-color: #FFFFFF;
      margin: 42.4% 5vw 0 0;
      float: right;
      padding: 3vw 4vw 1vw 4vw;

      .long_text {
        margin: 0 0 2vw 0;
        font-size: 1.2vw;
      }

      .tagline {
        font-size: 2.8vw;
        clear: both;
        margin: 0;
      }
    }

    .white-things {
      margin: 0 5vw 0;
      width: 33.4vw;
    }
  }

  .sat_hero {
    background-image: url('sat_skin_bg.jpg');
    background-repeat: no-repeat;
    height: 66vw;
    position: relative;
  }

  main {
    width: 90%;
    margin: 5vw auto;

    .leftie {
      width: 49vw;

      h1 {
        font-size: 5.5vw;
      }

      p {
        font-size: 1.3vw;
      }
    }

    .rightie {
      margin: 0 0 0 6vw;

      .three_drops {
        width: 32vw;
      }
    }
  }
}


// @media screen and (max-width: 747px) {
//   .wrapper {
//     width: 100% !important;
//
//     .dial {
//       padding: 0 0 0 22%;
//       font-size: 2vw;
//       display: block;
//
//       .dial_text {
//         font-size: 3.5vw;
//         margin: 0;
//       }
//     }
//   }
// }
