.saturday_home {
  position: relative;
  height: auto;

  a {
    font-family: 'Work Sans';
  }

  .sat_hero {
    .bread_crumb {
      display: inline-block;
      vertical-align: top;

      a {
        color: black;
        font-size: 13px;
        text-decoration: none;
      }

      .caret {
        fill: #A9A9A9;
      }
    }

    .dial {
      vertical-align: top;

      .dial_text {
        display: block;
        font-weight: bold;


        .for {
          display: block;

          &::after {
            content: '';
            display: block;
            margin: 5px 0;
            width: 54%;
            border-top: 8px solid #000000;
          }
        }
      }
    }

    .sat_skin_title {
      width: 885px;
      margin: -17px 0 0 -245px;
    }

    .text_box {
      background-color: #FFFFFF;
      .pink_bar {
        height: 10px;
        background-color: #eac4cd;
        margin: 0px auto;
        display: block;
        clear: both;
        text-align: center;
      }
    }

    .text_box {
      .long_text {
        font-family: 'Work Sans';
      }

      .tagline {
        clear: both;
        text-align: center;
      }
    }
  }

  .sat_hero {
    position: relative;
  }

  main {
    .leftie {
      vertical-align: top;
      position: relative;
      z-index: 2;

      h1 {
        margin: 0 0 10px 0;
        color: rgb(0, 209, 165);
        width: 9em;
        line-height: 1;
      }

      a {
        width: 200px;
        padding: 10px 18px;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 1px;
        color: rgb(126, 126, 126);
        border: 10px solid #E5E5E5;
        display: block;

        &:hover {
          border-color: rgb(0, 209, 165);
          color: rgb(0, 209, 165) !important;
        }
      }
    }

    .rightie {
      display: inline-block;
      position: relative;
      z-index: 1;

      .three_drops {
        vertical-align: top;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .ss-mobile {
    display: none;
  }

  .sat_hero {
    background-image: url('ss_main.jpg');
    background-size: 100% 100% !important;
    background-repeat: no-repeat;

    .mobile {
      display: none;
    }
  }

  main {
    .leftie {
      display: inline-block;
    }
  }

}


@media screen and (min-width: 1200px) {
  .sat_hero {
    width: 1200px;
    margin: 0 auto;
    height: 797px;

    .bread_crumb {
      margin: 15px 0 0;
      padding: 0 0 0 40px;
    }

    .text_box {
      margin: 491px 60px 0 0;
      width: 400px;
      padding: 40px 30px 0px 30px;
      float: right;

      .long_text {
        font-size: 15px;
        margin: 0 10px 18px 10px;
      }

      .tagline {
        font-size: 35px;
        margin: 0 10px 20px;
      }

      .pink_bar {
        width: 340px;
        margin: 15px auto 0;
      }
    }
  }

  main {
    width: 1080px;
    margin: 55px auto;

    .leftie {
      width: 580px;

      h1 {
        font-size: 65px;
      }

      p {
        font-size: 15px;
      }

      a {
        margin: 20px 0 0;
      }
    }

    .rightie {
      margin: 0 0 0 100px;

      .three_drops {
        width: 390px;
        top: 60px;
      }
    }
  }
}

@media screen and(min-width: 768px) and (max-width: 1199px) {
  .sat_hero {
    width: 100%;
    height: 66vw;
    position: relative;

    .bread_crumb {
      padding: 1.7vw 0 0 3.3vw;
    }

    .text_box {
      width: 33.4vw;
      padding: 2.4vw 2vw 0 2vw;
      position: absolute;
      bottom: 0;
      right: 4vw;

      .long_text {
        margin: 0 0 2vw 0;
        font-size: 1.2vw;
      }

      .tagline {
        font-size: 2.8vw;
        margin: 0 0 11px 0;
      }
    }

    .white-things {
      margin: 0 5vw 0;
      width: 33.4vw;
    }
  }

  main {
    width: 90%;
    margin: 5vw auto;

    .leftie {
      width: 49vw;

      h1 {
        font-size: 5.5vw;
      }

      p {
        font-size: 1.3vw;
      }


      a {
        width: 200px;
        margin: 20px 0 0;
      }
    }

    .rightie {
      margin: 0 0 0 6vw;

      .three_drops {
        width: 32vw;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sat_hero {
    height: auto;
    background: none;
    width: 100%;

    .bread_crumb {
      margin: 20px;
    }

    .mobile {
      display: block;
      position: relative;
      z-index: 0;
      margin: 0 0 -40px;

      img {
        width: 100vw;
      }
    }

    .text_box {
      padding: 20px 17px;
      float: none;
      margin: 0 20px 20px;
      position: relative;
      z-index: 1;

      .mobile {
        text-align: center;
      }

      .tagline {
        font-size: 31px;
        margin: 0;
      }

      .pink_bar {
        width: 100%;
      }
    }
  }

  main {
    .leftie {
      display: block;
      margin: 0 37px;

      h1 {
        width: 100%;
        font-size: 9.1vw;
      }

      p {
        margin: 20px 0;
        font-size: 15px;
      }

      a {
        margin: 20px auto 0;
      }
    }

    .ss-mobile {
      display: block;
      width: 100%;
      margin: 20px 0;
    }

    .ss-desktop {
      display: none;
    }
  }
}
