/*.textsearch-test {
	display: inline-block;
	position: relative;
	float: right;
	width: 190px;
	height: 20px;
	margin-right: 40px;
	margin-top: -55px;

}

.testing {
	border: none;
	border-bottom: 2px solid;
}

input:focus{
    outline: none;
}*/

/*#testingsearch {
	border: none;
	border-bottom: 1px solid;
	padding-top: -10px;
	display: none;
}*/

/*
#callingsearch {
	margin-top: 8px;
	margin-left: 158px;
	height: 20px;
	width: 20px;
	border: 1px solid;
	text-align: center;
	display: inline-block;
}
*/

