.chaum-wrapper {
  overflow: hidden;
  background: white;
}

.chaum {
  color: #000000;

  h1, h3, h4 {
    font-weight: bold;
  }

  h1 {
    text-align: center;
  }

  .pool-p {
    h4 {
      margin: 0;

      &::after {
        content: '';
        display: block;
      }
    }
  }

  .quote {
    position: relative;
    font-weight: 100;

    &::before {
      content: '';
      display: block;
      border-top: 1px solid #000000;
      border-left: 1px solid #000000;
      width: 25px;
      height: 25px;
      top: -15px;
      left: -15px;
      position: absolute;
    }
  }

  #myCarousel {
    font-size: 0;
    display: inline-block;

    .left-arr, .right-arr {
      img	{
        display: inline-block;
        width: 20px;
      }
    }

    .left-arr {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
    }

    .carousel-inner {
      display: inline-block;
      vertical-align: middle;

      .cara_one, .cara_two {
        vertical-align: middle;
      }
    }

    .carousel-indicators.chaum-indicators {
      width: 77px;
      bottom: -25px !important;
    }

    .right-arr {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
    }

  }
}

.chaum-banner {
  width: 100%;
  background-color: #A9A9A9;
  background-image: url('proteins.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;

  h3 {
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
  }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  .chaum-wrapper {
    width: 98vw;
    margin: 0 auto;

    h1 {
      font-size: 8.5vw;
      margin: 50px 0;
    }

    .pool-img {
      width: 60vw;
    }

    .pool-p {
      display: inline-block;
      width: 27vw;
      margin: 0 0 0 35px;
      vertical-align: top;

      h4 {
        font-size: 2.2vw;

        &::after {
          width: 65px;
          border-top: 5px solid #000000;
          margin: 20px 0;
        }
      }

      p {
        font-size: 1.2vw;
      }
    }

    .quote {
      font-size: 2.5vw;
      width: 67vw;
      margin: 50px auto 0;

      .chaum-desktop {
        display: block;
      }
    }

    #myCarousel {
      width: 71vw;
      margin: 30px 0 25px 15vw;

      .carousel-inner {
        width: 66.7vw;
        height: auto;

        .cara_one, .cara_two {
          width: 66.7vw;
          height: auto;
          vertical-align: middle;

          img {
            width: 797px;
            height: 444px;
          }
        }

      }

      .carousel-indicators {
        margin-left: 29%;
      }
    }

    .lower-ps {
      width: 63vw;
      margin: 30px auto;

      .left-ps {
        margin: 0 2% 0 0;
      }

      .left-ps, .right-ps {
        width: 48%;
        display: inline-block;
        vertical-align: top;

        p {
          font-size: 1.3vw;
          margin: 0 0 20px 0;
        }
      }
    }
  }

  .chaum-banner {
    height: auto;

    h3 {
      font-size: 3vw;
      margin: 10vw 0;
    }
  }

  .hepts {
    display: block;
    position: absolute;
    z-index: 100;
  }

  .hept-chaum-one {
    top: 1100px;
    right: 0;
  }

  .hept-chaum-two {
    top: 1410px;
    left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .chaum-wrapper {
    width: 1200px;
    margin: 0 auto;

    h1 {
      font-size: 102px;
      margin: 50px 0;
    }

    .pool-p {
      display: inline-block;
      width: 330px;
      margin: 0 0 0 35px;
      vertical-align: top;
    }

    h4 {
      font-size: 27px;

      &::after {
        width: 65px;
        border-top: 5px solid #000000;
        margin: 20px 0;
      }
    }

    .quote {
      font-size: 30px;
      width: 795px;
      margin: 50px auto 0;

      .chaum-desktop {
        display: block;
      }
    }

    #myCarousel {
      width: 837px;
      margin: 30px 0 25px 181px;

      .carousel-inner {
        width: 797px;
        height: 444px;

        .cara_one, .cara_two {
          width: 797px;
          height: 444px;
          vertical-align: middle;

          img {
            width: 797px;
            height: 444px;
          }
        }
      }

      .carousel-indicators {
        margin-left: 36%;
      }
    }

    .lower-ps {
      width: 800px;
      margin: 30px auto;

      .left-ps {
        margin: 0 30px 0 0;
      }

      .left-ps, .right-ps {
        width: 350px;
        display: inline-block;
        vertical-align: top;

        p {
          margin: 0 0 20px 0;
        }
      }
    }
  }

  .chaum-banner {
    height: 285px;

    h3 {
      font-size: 37px;
      margin: 100px 0;
    }
  }

  .hepts {
    display: block;
    position: absolute;
    z-index: 100;
  }

  .hept-chaum-one {
    top: 1100px;
    right: 0;
  }

  .hept-chaum-two {
    top: 1410px;
    left: 0px;
  }
}


@media screen and (max-width: 599px) {
  .chaum-wrapper {
    width: 100%;
    margin: 0 auto;

    h1 {
      font-size: 50px;
      margin: 20px 0;
    }

    .pool-img {
      width: 100%;
      margin: 0 0 20px;
    }

    .pool-p {
      width: 80%;
      margin: 20px auto 35px;
    }

    h4 {
      font-size: 28px;

      &::after {
        width: 30px;
        border-top: 5px solid #000000;
        margin: 10px 0;
      }
    }

    .quote {
      font-size: 20px;
      width: 80%;
      margin: 20px auto 0;

      .chaum-desktop {
        display: none;
      }
    }

    #myCarousel {
      width: 100%;
      margin: 30px 0 25px 0;

      .carousel-inner,
      .carousel-inner .cara_one,
      .carousel-inner .cara_two,
      .carousel-inner .cara_one img,
      .carousel-inner .cara_two img {
        width: 100%;
        height: calc(100vw / 1.80);
      }

      .carousel-indicators {
        right: 20px;
        left: inherit;
      }
    }

    .lower-ps {
      width: 80%;
      margin: 20px auto 40px;

      .left-ps, .right-ps {
        p {
          margin: 0 0 20px 0;
        }
      }
    }
  }

  .chaum-banner {
    height: 50vw;

    h3 {
      font-size: 20px;
      margin: 19% 0 0;
    }
  }

  .hepts {
    display: none;
  }
}
