.sat-image-test {
    position: relative;
    display: block;
    width: 100%;
    height: 155px;
    text-align: center;
    /*background-image: url('SS_PinkBar.jpg');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(250, 214, 218);
}


.product_detail {
	width: 52.5%;
	margin: 0 auto;
	border: none;
	position: relative;

	.product-name, .product-title {
		text-transform: uppercase;
	}
}

.sat_link {
	svg {
    fill: #A9A9A9;
	}
}

.product_detail_buttons {
	width: 56%;
	margin: 0 auto;
	border: none;
	position: relative;
}

.panel {
	width: 56%;
	min-height: 180px;
	margin: 0 auto;
	padding-left: 30px;
}

.panel_fluid {
	width: 80%;
	margin: 0 auto;
	margin-top: -50px;
	text-align: center;
}

.buttons {
	/*margin-top: 25px;*/
	margin-bottom: 50px;
}

.buttons a {
	text-align: center;
	font-family: WorkSans;
    font-weight: bold;
    color: rgb(126, 126, 126);
    border: 10px solid #E5E5E5;
    padding: 10px 10px;
    DISPLAY: BLOCK;
    width: 180px;
    margin: 10px 0 0;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 30px;

/*  font-weight: bold;
  color: rgb(126, 126, 126);
  border: 10px solid #E5E5E5;
  padding: 10px 20px;
  DISPLAY: BLOCK;
  width: 190px;
  margin: 10px 0 0;
  font-size: 13px;
  letter-spacing: 1px;

  &:hover {
		color: rgb(0, 209, 165);
    border: 10px solid rgb(0, 209, 165);
  }*/

}

// .green-border {
// 	border: 10px solid #00D1A5;
// }

.prodimg {
	width: 220px;
    margin-left: 20%;
}

.prod-dsc {
	margin-top: 60px;
}

.detail_photo {
	max-width: 100%;
	height: auto;
}

.margin_top {
	margin-top: -30px;
}

.tab_content {
	margin-top: -20px;
}

.recommendations {
	margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 3vh;
    width: 18%;
    position: relative;
    display: inline-block;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    &:hover {
        box-shadow: 0 0 4px #fff;
    }
}

.product-description, .how-to-use {
	white-space: pre-wrap;
}

.font14 {
	font-size: 14px;
}


.is-ideal-for {
	margin-left: 12px;
}

.how-to-use {
	margin-top: -40px;
	padding-left: 12px;
}

/* video */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow:
	hidden; max-width: 100%;
}

.embed-container video, .embed-container object, .embed-container embed, .embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.div_mobile {
	display: none;
}

@media only screen and (min-width: 769px) and (max-width: 992px)  {
	.prodimg {
		width: 220px;
	    margin-left: 10%;
	}

	.prod-dsc {
		margin-left: 10%;
	}

	.buttons {
		margin-top: 25px;
	}

	.buttons a {
	    border: 10px solid #E5E5E5;
	    padding: 5px 10px;
	    /*padding: 10px 20px;*/
	    DISPLAY: BLOCK;
	    width: 150px;
	    /*width: 190px;*/
	    margin: 5px 0 0;
	    font-size: 11px;
	}

	.product_detail_buttons .panel{
		width: 68%;
	}

	.panel {
		padding-left: 10px;
	}

}

@media only screen and (max-width: 769px) {
	.prodimg {
		width: 150px;
		margin: 0 auto;
	}

	.prod-dsc {
		margin-top: 30px;
	}

		.buttons {
		margin-top: 25px;
	}

	.buttons a {
	    border: 10px solid #E5E5E5;
	    padding: 2px 4px;
	    /*padding: 10px 20px;*/
	    DISPLAY: BLOCK;
	    width: 130px;
	    /*width: 190px;*/
	    margin: 2px 0 0;
	    font-size: 10px;
	}

	.product_detail {
		width: 80%;
	}

	.product_detail_buttons {
		width: 80%;
	}

	.panel{
		width: 80%;
		padding-left: 5px;
	}

	.recommendations {
	    padding-left: 2%;
	    padding-right: 2%;
	}

	.div_web {
		display: none;
	}

	.div_mobile {
		display: block;
	}

}

@media only screen and (max-width: 480px) {
	.product_detail_buttons {
		width: 95%;
	}

	.panel{
		width: 95%;
		padding-left: 0;
	}
}
