.social {
	padding-left: 30px;
    margin-top: -25px;
}

#imagetest {
  width: 800px;
  height: 600px;
}

#buttontest {
  background-color: lightblue;
  color: black;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#buttontest2 {
  background-color: red;
  color: black;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}



.sat-image-test {
  position: relative;
  display: block;
  width: 100%;
  height: 155px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(250, 214, 218);
}

.product_detail {
	width: 52.5%;
	margin: 0 auto;
	border: none;
	position: relative;

	.product-name, .product-title {
		text-transform: uppercase;
	}
}

.sat_link {
	svg {
    fill: #A9A9A9;
	}
}

.product_detail_buttons {
	width: 100%;
	margin: 0 auto;
	border: none;
	position: relative;
	text-align: center;
}

.panel {
	width: 56%;
	padding-left: 30px;
	min-height: 180px;
	margin: 0 auto;
}

.panel_fluid {
	width: 80%;
	margin: 0 auto;
	margin-top: -50px;
	text-align: center;
}

.buttons {
	margin-bottom: 50px;
}

.buttons a {
	text-align: center;
	font-family: 'Work Sans';
  	font-weight: bold;
	color: rgb(126, 126, 126);
	border: 10px solid #E5E5E5;
	padding: 10px 10px;
	display: inline-block;
	width: 180px;
	margin: 10px 0 0;
	font-size: 13px;
	letter-spacing: 1px;
	margin-left: 30px;

	&:hover {
		color: rgb(0, 209, 165) !important;
	    border: 10px solid rgb(0, 209, 165);
	}
}

.prodimg {
	width: 350px;
    margin-left: 0;
}

.prod-dsc {
	margin-top: 60px;
}

.detail_photo {
	max-width: 100%;
	height: auto;
}

.margin_top {
	margin-top: -30px;
}

.tab_content {
	margin-top: -20px;
}

.recommendations {
	margin-left: 5%;
	margin-right: 1%;
	margin-top: 20px;
	margin-bottom: 3vh;
	width: 42%;
	position: relative;
	display: inline-block;
	background-color: white;
	padding-left: 4%;
	padding-right: 3%;
    &:hover {
        box-shadow: 0 0 4px #fff;
    }
}

#prodname-recommendation {
  padding-top: 2%;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.product-title, .product-description, .how-to-use {
	white-space: pre-wrap;
}

.font14 {
	font-size: 14px;
}

.is-ideal-for {
	margin-left: 12px;
	font-family: 'Work Sans';
  font-size: 15px;
  font-weight: 300;
}

.how-to-use {
	margin-top: -40px;
}

.div_mobile {
	display: none;
}

.detail_photo {
  max-width: 315px;
  width: 100%;
  height: auto;
}


@media only screen and (min-width: 993px) and (max-width: 1040px)  {
	.prodimg {
		margin-left: -35px;
		width: 300px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px)  {
	.prodimg {
	    margin-left: -35px;
		width: 300px;
	}

	.prod-dsc {
		margin-left: 10%;
	}

	.tab_content > .panel{
		width: 70%;
	}
}

@media only screen and (max-width: 769px) {
	.prodimg {
	    width: 250px;
	    margin: 0 auto;
	    margin-top: 35px;
	}

	.prod-dsc {
		margin-top: 30px;
	}

		.buttons {
		margin-top: 25px;
		text-align: center;
	}

	.buttons a {
	    border: 10px solid #E5E5E5;
	    padding: 2px 4px;
	    display: inline-block;
	    width: 160px;
	    margin: 2px 0 0;
	    margin-right: 2.5%;
	    margin-left: 2.5%;
	    font-size: 13px;
	}

	.product_detail {
		width: 80%;
	}

	.product_detail_buttons {
		width: 100%;
	}

	.recommendations {
	    padding-left: 2%;
	    padding-right: 2%;
	}

	.div_web {
		display: none;
	}

	.div_mobile {
		display: block;
	}

	.panel{
		width: 80%;
	}

}


@media only screen and (max-width: 767px) {
	.prodimg {
	    margin-top: 0;
	}

	.product_detail {
	    width: 80%;
	    margin-top: -30px;
	}
}

@media only screen and (max-width: 600px) {
	.buttons a {
    width: 140px;
    margin: 2px 0 0;
    margin-right: 1.5%;
    margin-left: 1.5%;
    font-size: 11px;
	}
}

@media only screen and (max-width: 480px) {
	.product_detail_buttons {
		width: 100%;
		text-align: center;
	}

	.panel{
		width: 90%;
		padding-left: 0;
    	margin: 0 auto;
	}

	.buttons {
		text-align: center;
	}

	.buttons a {
		text-align: center;
		font-family: 'Work Sans';
  	font-weight: bold;
  	color: rgb(126, 126, 126);
  	border: 8px solid #E5E5E5;
  	padding: 1px 1px;
  	display: inline-block;
  	width: 118px;
  	margin: 0px;
  	font-size: 10px;
  	letter-spacing: 1px;

  	&:hover {
		color: rgb(0, 209, 165) !important;
    	border: 8px solid rgb(0, 209, 165);
  	}
	}

}

@media only screen and (max-width: 362px) {
	.buttons a {
		width: 70px;
		letter-spacing: 0px;
		// height:60px;
		vertical-align: middle;
		padding: 10px;
		margin: 0 5px;
	}
}
