<div class="white-wrap" id="white-wrap-d">
  <finalnavbar></finalnavbar>

<div class="sat_image clear">
	<img class="sat-banner" src="SS_TopBar_final.jpg" alt="saturday skin banner" />
</div>

<div class="max-width clear">
    <div class="sat_link">
  		<a href="/saturday-skin" ui-sref="saturday_skin" class="upper sat-bread" style="color: grey; opacity: 0.8;">Saturday Skin</a>
  		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="#808080">
  			<path class='caret' d="M0 0v8l4-4-4-4z" transform="translate(2)" />
  		</svg>
  		<a href="/saturday-skin/products" ui-sref="saturday_products" class="upper sat-bread" style="color: grey; opacity: 0.8;">The Products</a>
  		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="#808080">
  			<path class='caret' d="M0 0v8l4-4-4-4z" transform="translate(2)" />
  		</svg>
  		<a class="upper sat-bread">{{ product.name }}</a>
  	</div>

  	<!-- shopify testing-->
<!--   	<div class="clear"></div><br>
  	<img id="imagetest" />
	<div id="buttontest"></div>
	<div id="buttontest2"></div>
	<button class="buy-button" onclick="attachOnVariantSelectListeners()">Add To Cart</button>
	<hr> -->
	<!-- shopify end -->


	<div class="product_detail">
		<div class="row">
			<div class="col-sm-6">
				<div class="prodimg">
					<img class="detail_photo" ng-src="{{ product.image[0] }}" alt="product image"  />
				</div>
			</div>
			<div class="col-sm-6">
				<div class="prod-dsc">
					<p class="product-name">{{ product.name }}</p>
					<p class="product-title">{{ product.title }}</p>
          <p class="product-ktitle">{{ product.korean_title }}</p>
					<div class="gray-line"></div>
					<p class="price_tag">${{ product.price }}.00</p>

          <cart></cart>
					<!-- <div id="checkouturl"><a href="{{product.checkouturl}}"><button id="checkout">BUY NOW</button></a></div> -->
					<br>
					<span class="product-description">{{product.size_ml}} ml/{{product.size_oz}} Fl. Oz.</span>
					<div ng-if="product.shade">
						<p class="product-description">Shade: {{product.shade}}</p>
					</div>
					<p class="product-description">{{ product.description }}</p>
					<p class="product-description font14">{{ product.description2 }}</p>
					<br class="mobile_hide">



					<social-icons></social-icons>
				</div>
			</div>
		</div>
	</div>

	<!-- buttons -->
	<div class="product_detail_buttons">
		<div class="buttons">
			<a href ng-click="selectTab(1)" ng-class="{ active:tab === 1}">
				IS IDEAL FOR
			</a>

			<a href ng-click="selectTab(2)" ng-class="{ active:tab === 2}">
				 HOW TO USE
			</a>

			<a href ng-click="selectTab(3)" ng-class="{ active:tab === 3}">
				FANS ALSO LOVE
			</a>
		</div>
	</div>

	<!-- tab content -->
	<div class="tab_content">
		<div class="panel" ng-show="tab === 1" >
			<div ng-repeat="who in product.who">
				<li class="is-ideal-for"> {{who}}</li>
			</div>
		</div>

		<div class="panel number2" ng-show="tab === 2">
	        <div class='how-to-use'>
	          	<p>{{product.how}}</p>
	        </div>
		</div>

		<!-- recommendations -->
		<div class="panel" ng-show="tab === 3">
	      <div class="recommendations" ng-repeat="rec in product.recs">
	          <a href="/saturday-skin/products/{{ rec.name }}">
	            <img class="detail_photo" ng-src="{{ rec.img }}" width="185px;" alt="{{ rec.name }}" />
	            <p id="prodname-recommendation">{{ rec.name}}</p>
	          </a>
	      </div>
		</div>
	</div>

</div>
</div>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
