<navbar></navbar>
<div class="clear">
  	<div class="sat_image"></div>

    <div class="sat_link">
		<a href="/saturday-skin" ui-sref="saturday_skin" class="upper">Saturday Skin</a>
		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
			<path class='caret' d="M0 0v8l4-4-4-4z" transform="translate(2)" />
		</svg>
		<a href="/saturday-skin/products" ui-sref="saturday_products" class="upper">The Products</a>
		<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
			<path class='caret' d="M0 0v8l4-4-4-4z" transform="translate(2)" />
		</svg>
		{{ product.name }}
	</div>


	<div class="product_detail">
		<div class="row">
			<div class="col-sm-6">
				<div class="prodimg">
					<img class="detail_photo" ng-src="{{ product.image[0] }}" alt="product image" width="315px;" />
				</div>
			</div>
			<div class="col-sm-6">
				<!-- <br><br><br> -->
				<div class="prod-dsc">
					<p class="product-name">{{ product.name }}</p>
					<p class="product-title">{{ product.title }}</p>
					<div class="gray-line"></div>
					<p class="price_tag">$ {{ product.price }}.00</p>
					<br>
					<span class="product-description">50mL</span>
					<p class="product-description">{{ product.description }}</p>
					<br class="mobile_hide"><br class="mobile_hide">
					<social-icons></social-icons>
				</div>
			</div>
		</div>
	</div>	

	<!-- buttons -->
	<div class="product_detail_buttons">
		<div class="row buttons">
			<div class="col-xs-4" ng-class="{ active:tab === 1}" >
				<a href ng-click="selectTab(1)">
					WHO IT'S FOR
				</a>
			</div>
			<div class="col-xs-4" ng-class="{ active:tab === 2}">
				<a href ng-click="selectTab(2)">
					 HOW TO USE
				</a>
			</div>
			<div class="col-xs-4" ng-class="{ active:tab === 3}">
				<a href ng-click="selectTab(3)">
					FANS ALSO LOVE
				</a>
			</div>
		</div>
		<!-- end of button -->
	</div>

	<!-- tab content --> 
	<div class="tab_content">
		<div class="panel" ng-show="tab === 1">
			<p class="margin_top">who it's for</p>
			<p>{{product.description}}</p>
		</div>

		<div class="panel" ng-show="tab === 2">
			<p class="margin_top">how to use</p>
			<!-- video -->
			<div class="div_web">
			    <div class='embed-container'>
			        <iframe src="https://player.vimeo.com/video/162845048?autoplay=1&loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
			        </iframe>
			    </div>
			</div>

			<div class="div_mobile">
			    <div class='embed-container'>
			        <iframe src="https://player.vimeo.com/video/162845048?autoplay=1&loop=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
			        </iframe>
			    </div>
			</div>
		</div>

		<!-- recommendations --> 
		<div class="panel_fluid" ng-show="tab === 3">
			<div class="recommendations" ng-repeat="recommendation in recommendations  | limitTo: 5">
				<a href="/saturday-skin/products/{{ recommendation.name }}"> 
					<img class="detail_photo" ng-src="{{ recommendation.image[0]}}" width="185px;" alt="{{ recommendation.name }}" />
				</a>
			</div>
		</div>
	</div>

<!-- carousel prcatice with multiple images --> 

</div>










