.login-container {
	width: 30%;
	margin: 0 auto;
}

.video-head {
	max-width: 1500px;
	margin: 0 auto;
}

.header-unit {
    height: auto;
    width:100%;
    /*overflow: hidden;*/
    position:absolute;
    margin-left:auto;
    margin-right:auto;

}
video {
    /*position: absolute;*/
    /*z-index: 1;*/
}

video.fillWidth {
    width: 100%;
    min-height: 100%;
}
.video-container-login {
    width:100%;
    /*overflow: hidden;*/
    background-size:cover;
}