<div class="clean-and-clear"></div>

<div class="login-container clear">
    <br><hr>
    <div id="login">
        <form ng-submit="userLogin(user)">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="user.password" placeholder="Password">
                </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form> 
    </div>
    <br><br>
</div>

<br><br>




