.aurous-header {
	height: 190px;
	background-color: black;
	z-index: -9998;
	/*position: relative;*/
}

.aurous-body {
	position: relative;
	width: 1200px;
	display: inline-block;
}

#aurous_text {
	position: absolute;
	top: 20px;
	left: 50px;
	color: white;
	display: inline-block;
	background-color: black;
	font-family: WorkSans;
}

#aurous_logo {
	margin-left: 60%;
	margin-top: 40px;
}

.drop_image {
	width: 776px;
	height: 928px;
	position: absolute;
	top: 80px;
	left: -25px;
	z-index: -9999;
	display: inline-block;
}

.aurous_text {
	width: 24%;
	height: auto;
	margin-left: 70px;
	margin-top: 40%;
	text-align: center;	
	z-index: 22;
	display: inline-block;
	font-family: MillerBanner;
	font-size: 30px;
	/*font-weight: 100;*/
	letter-spacing: 4px;
}

.aurous_text > .readmore {
	display: block;
	color: white;
	border: 1px solid black;
	width: 135px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	padding: 3px 15px;
	font-family: WorkSans;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 100;
	color: black;
}

#water_image {
	width: 300px;
	height: 300px;
	margin-left: 95px;
	margin-top: 30px;
	z-index: -9999;
	display: inline-block;
	// for footer and spacing 
	margin-bottom: 545px;
}

.aurous_button {
	border: solid 1px red;
	text-align: center;
	display: inline-block;
}

.aurous_product {
	display: inline-block;
	position: absolute;
	left: 38%;
	top: 203px;
	width: 62%;
}

/* for auorus prod detail layout */
/*.aurous_product {
	display: inline-block;
	position: absolute;
	left: 38%;
	top: 100px;
	width: 62%;
}*/

.aurous_listing {
	margin-right: 6%;
	width: 44%;
	margin-top: 30px;
	margin-bottom: 1vh;
	position: relative;
	display: inline-block;
	/*background-color: black;*/

}

.aurous_image_hover {
	width: 100%;
	height: auto;
	&:hover {
		background-color: black;
    }
}

/*.aurous_link {
	position: relative;
}*/

.aurous_description {
	color: white;
	position: absolute;
	top: 40%;
	left: 10%;
}

.aurous_link {
    margin-top: 15px;
    padding-left: 50px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.aurous_link a {
    color: white !important;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}

.aurous_link > .caret {
    fill: #ffffff;
}



