<div class="max-width">
	<navbar></navbar>
</div>

<div class="clean-and-clear"></div>

<div class="aurous-body">

	<div class="aurous-header fixed">
		<div class="bread_crumb1 aurous_crumb1 ">
      <a href="aurous" ui-sref="aurous" class="upper aurous-bread">
          Aurous
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
         <path class='caret' d="M0 0v8l4-4-4-4z" transform="translate(2)" />
      </svg>
      <a href="/aurous/products" ui-sref="aurous_products" class="upper aurous-bread">
          The Products
      </a>
		</div>

		<img class="aurous7-logo" src="aurous7-logo.png" alt="aurous7 logo" />
	</div>

	<div class="aurous-header-fix fixed">
		<div class="aurous-banner">
			<div>
		    <div class="bread_crumb1 aurous_crumb1">
          <a href="aurous" ui-sref="aurous" class="upper aurous-bread">
            Aurous
          </a>
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
            <path class='caret' d="M0 0v8l4-4-4-4z" transform="translate(2)" />
          </svg>
          <a href="/aurous/products" ui-sref="aurous_products" class="upper aurous-bread">
            The Products
          </a>
				</div>
				<div class="big-logo">
					<div class="inner-logo-thing">
						<img src="aurous7-logo.png" alt="aurous7 logo" />
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="aurous-header-clean"></div>
	<div class="drops max-width">
		<!-- text -->
		<div class="aurous_text miller">
			<h1 id="aurous_beauty">The science</br>behind</br>the beauty</h1>
			<a href="/about" ui-sref="about" class="upper readmore readmore-in-aurous">
	                  Read more
	        </a>
		</div>

		<!-- products -->
<!-- 		<div class="aurous_product">
			<div class="aurous_listing" ng-repeat="product in products" ng-mouseenter="show = true" ng-mouseleave="show = false">
				<a class="aurous_link" href="/aurous/products/{{ product.name }}" ng-init="itemsrc= product.image[0] " ng-mouseover="itemsrc= product.image[1]" ng-mouseout="itemsrc= product.image[0]" >
					<img class="aurous_image_hover" width="330px;" height="480px;" ng-src="{{itemsrc}}" alt="product picture" />
					<div class="aurous_description" ng-show="show">
						<p class="aurous-name-fromdb">{{ product.name }}</p>
						<p class="aurous-title-fromdb">{{ product.title }}</p>
						<p class="aurous-ktitle-fromdb">{{ product.korean_title }}</p>
					</div>
				</a>
			</div>
		</div> -->

		<div class="aurous_product">
			<div class="aurous_listing" ng-repeat="product in products" ng-mouseenter="show = true" ng-mouseleave="show = false">
				<a class="aurous_link" id="crossfade" href="/aurous/products/{{ product.name }}">
					<img class="aurous_image_hover bottom" width="330px;" height="480px;" src="{{product.image[1]}}" alt="product picture" />
					<img class="aurous_image_hover top" width="330px;" height="480px;" src="{{product.image[0]}}" alt="product picture" />
					<div class="aurous_description" ng-show="show">
						<p class="aurous-name-fromdb miller">{{ product.name }}</p>
						<p class="aurous-title-fromdb pre-wrapped">{{ product.title }}</p>
						<p class="aurous-title-fromdb korean_title">{{ product.korean_title }}</p>
					</div>
				</a>
			</div>
		</div>

	</div>
	<br class="tablet-hide"><br class="tablet-hide">

</div>

<backtotop></backtotop>
