.aurous-body {
	margin-top: -1px;
}

.aurous-header {
	height: 188px;
	background-image: url('aurous-banner-real.png');
	/*background-repeat: repeat;  for width > 1200*/
	background-repeat: no-repeat;
	width: 100%;
	background-size: contain;
	/*max-width: 1200px;*/
	/*margin: 0 auto;*/
}

.aurous-header-fix {
	background-color: black;
	width: 100%;
	height: 188px;
	display: none;
}

.aurous-banner {
	height: 188px;
	width: 1200px;
	background-image: url('aurous-banner-real.png');
	background-size: contain;
	margin: 0 auto;
}


.fixed {
	position: fixed;
	z-index: 23;
}

.aurous-header-clean {
	height: 188px;
	width: 100%;
	background-image: url('black-background.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.bread_crumb1.aurous_crumb1 {
	  display: inline-block;
	  vertical-align: top;
	  margin: 20px 50px;

		a{
		  color: #FFFFFF;
		  font-family: 'Work Sans';
		  font-size: 0.8em;
		  letter-spacing: 1px;
		}

		.caret {
			fill: #A9A9A9;
		}
	}

#aurous_logo {
	margin-left: 60%;
	margin-top: 40px;
}

.big-logo {
	display: none;
}

.drops {
	/*height: 1551px;*/

	background-image: url('drops.png');
	background-repeat: no-repeat;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-size: contain;

	//BRADLEY ADDED THIS
	height: 3434px;
}


.aurous_text {
	width: 24%;
	height: auto;
	margin-left: 50px;
	margin-top: 40%;
	text-align: center;
	z-index: 22;
	display: inline-block;
	letter-spacing: 4px;
	position: relative;
}

#aurous_beauty {
	font-size: 30px;
	text-transform: uppercase;
}

.aurous_text > .readmore {
	display: block;
	color: white;
	border: 2px solid #D0BD78;
	width: 135px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px 15px;
	font-family: 'Work Sans';
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 900;
	color: black;
}

.aurous_button {
	border: solid 1px red;
	text-align: center;
	display: inline-block;
}

/* for auorus prod detail layout */
.aurous_product {
	display: inline-block;
	position: absolute;
	left: 39%;
	width: 61%;
	max-width: 800px;
}

.aurous_listing {
	margin-right: 4%;
	width: 46%;
	margin-top: 4%;
	margin-bottom: 64%;
	position: relative;
	display: inline-block;

/*	margin-right: 1%;
	width: 48%;
	margin-top: 18px;
	margin-bottom: 1vh;
	position: relative;
	display: inline-block;
*/
}

.aurous_link {
    // margin-top: 15px;
    // padding-left: 5px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

.aurous_image_hover {
	width: 100%;
	height: auto;

	&:hover {
		// background-color: black;
  }
}

.aurous_link a {
    color: white !important;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}

.aurous_link > .caret {
    fill: #ffffff;
}

.aurous_description {
	width: 80%;
	color: white;
	position: absolute;
	top: 21vh;
	left: 8%;
	opacity: 1 !important;
	font-weight: 600;
}

.aurous-name-fromdb {
	font-size: 30px;
	// font-family: MillerBanner;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.aurous-title-fromdb {
	font-size: 14px;
	font-family: 'Work Sans';
	text-align: center;
	letter-spacing: 0.9px;
	text-transform: uppercase;
}

.aurous-ktitle-fromdb {
	text-align: center;
}

// animation
#crossfade img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -webkit-transform: translateZ(0px);
  webkit-font-smoothing: subpixel-antialiase;
  /*-webkit-font-smoothing:antialiased;*/
  /*-webkit-backface-visibility:hidden; */
}

#crossfade img.top:hover {
  opacity:0;
}

.aurous7-logo {
	visibility: hidden;
}


/*.readmore-in-aurous {
	display: block;
    color: white;
    border: 1px solid #AA8A37;
    width: 135px;
    text-align: center;
    margin: 0 auto;
    padding: 0px 15px;
    font-family: WorkSans;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: bold;
}

*/
@media screen and (min-width: 1205px){
	.aurous-header {
		background-image: none;
		background-repeat: repeat;
		background-color: black;
		display: none;
	}

	.aurous-header-fix {
		display: block;
	}

	.aurous7-logo {
		visibility: visible;
		position: relative;
		left: 39%;
		top: 19%;
	}

	.big-logo {
		display: none;
	}

}

@media screen and (min-width: 1575px) and (max-width: 1774px) {
	.big-logo {
		display: inline-block;
		float: right;
		width: 776px;
		margin: 0 0 0 8.3vw;

		.inner-logo-thing {
			width: 213px;
			margin: 0 auto;

			img {
				width: 213px;
				display: block;
				margin: 40px auto;
			}
		}
	}

	.aurous-banner {
		background-image: none;
	}
}

@media screen and (min-width: 1775px) {
	.big-logo {
		display: inline-block;
		float: right;
		width: 767px;
		margin: 0 2.2vw 0 0;

		.inner-logo-thing {
			width: 213px;
			margin: 0 auto;

			img {
				width: 213px;
				display: block;
				margin: 40px auto;
			}
		}

	}

	.aurous-banner {
		background-image: none;
	}
}

@media (min-width: 800px) and (max-width: 980px) {
	.drops {
		height: 1280px;
	}

	.aurous_product {
		margin-top: -45px;
	}

	.aurous_text {
		width: 30%;
		height: auto;
		margin-left: 35px;
		margin-top: 30%;
	}

	#aurous_beauty {
		font-size: 24px;
	}

	.aurous_text > .readmore {
		font-family: 'Work Sans';
		font-size: 12px;
	}

	.aurous_description {
		top: 14vh;
	}
}

@media (min-width: 663px) and (max-width: 800px) {

	.drops {
		height: 1000px;
	}

	.aurous_product {
		margin-top: -65px;
	}

	.aurous_text {
		width: 30%;
		height: auto;
		margin-left: 35px;
		margin-top: 30%;
	}

	#aurous_beauty {
		font-size: 24px;
	}

	.aurous_text > .readmore {
		font-family: 'Work Sans';
		font-size: 12px;
	}

	.aurous_description {
		top: 13vh;
	}

	.aurous-name-fromdb {
		font-size: 22px;
	}

	.aurous-title-fromdb {
		font-size: 12px;
	}

}

@media screen and (max-width: 663px) {
	.aurous_text {
		display: block;
		width: 75%;
		margin: 0 auto;
		margin-top: -50px;
	}

	.aurous_product {
		display: block;
		width: 90%;
		left: 6%;
	}

	.drops {
		height: 1400px;
	}

	.aurous_description {
		top: 14vh;
	}

	.aurous-name-fromdb {
		font-size: 20px;
	}

	.aurous-title-fromdb {
		font-size: 14px;
	}
}


@media screen and (max-width: 553px) {
	.aurous_text {
		display: block;
		width: 75%;
		margin: 0 auto;
		margin-top: -80px;
		margin-bottom: 20px;
	}

	.aurous_product {
		display: block;
		width: 90%;
		left: 6%;
	}

	.drops {
		height: 1200px;
	}

	.aurous_description {
		top: 12vh;
	}

	.aurous-name-fromdb {
		font-size: 20px;
	}

	.aurous-title-fromdb {
		font-size: 12px;
	}

	.fixed {
		position: relative;
	}

	.aurous-header-clean {
		display: none;
	}
}
