.health-wrapper {
  overflow: hidden;
  background: white;
}


.chs {
  .chs_hero {
    background-image: url('dna2.jpg');
    background-repeat: no-repeat;

    h4, h1 {
      color: #FFFFFF;
      text-align: center;
      text-transform: uppercase;
    }

    h4 {
      font-family: 'Work Sans';
      font-weight: normal;
      font-style: normal;
    }

    h1 {
      font-weight: normal;
      font-style: normal;
    }
  }

  .chs-text {
    .top-right {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .chs-text-bottom {
    .bottom-right {
      display: inline-block;
      vertical-align: top;
      position: relative;

      a {
        color: #000000;
        font-weight: 600;
      }

      &::before {
        content: '';
        display: block;
        border-top: 1px solid #000000;
        border-left: 1px solid #000000;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -15px;
        left: -15px;
      }
    }

    #myCarousel {
      width: 410px;
      display: inline-block;
      float: right;

      .carousel-indicators.chs-indicators {
        width: 235px !important;
        position: relative;
        bottom: -25px !important;
        top: 0;
        margin-left: -8%;

        li {
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .health-wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .chs {
    .mobile {
      display: none;
    }

    .chs_hero {
      background-size: 1120px auto;
      background-position: -217px -237px;
      width: 901px;
      margin: 70px auto 0;
      padding: 115px 0;

      h4 {
        font-size: 17px;
        margin: 0;
      }

      h1 {
        font-size: 70px;
        margin: 20px 0 0 0;
      }
    }

    .chs-text {
        margin: -35px 0 0 0;
      .chs-text-top {
        .top-right {
          width: 410px;
          margin: 0 0 0 35px;
        }
      }

      .chs-text-bottom {
        width: 900px;
        margin: 40px auto 0;

        .bottom-right {
          width: 366px;
          margin: 0 80px 0 40px;

        }
      }
    }
  }

  .chs-hepts {
    position: absolute;
    z-index: 100;
    display: block;
  }

  .hept-chs-one {
    top: 695px;
    right: 0;
  }

  .hept-chs-two {
    top: 900px;
    left: 0px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  .health-wrapper {
    width: 98vw;
    margin: 0 auto;
  }

  .chs {
    .mobile {
      display: none;
    }

    .chs_hero {
      background-size: 1120px auto;
      background-position: -217px -237px;
      width: 77%;
      margin: 70px auto 0;
      padding: 9vw 0;

      h4 {
        font-size: 17px;
        margin: 0;
      }

      h1 {
        font-size: 70px;
        margin: 20px 0 0 0;
      }
    }
  }

  .chs-text {
      margin: -35px 0 0 0;
    .chs-text-top {
      img {
        width: 50.5vw;
      }

      .top-right {
        width: 31.2vw;
        margin: 40px 0 0 35px;

        p.emb {
          font-size: 2.2vw;
          line-height: 2.8vw;
        }

        p:not(.emb) {
          font-size: 1.25vw;
        }
      }
    }

    .chs-text-bottom {
      width: 75.6vw;
      margin: 0 auto;
      margin-top: 38px;

      .bottom-right {
        width: 30.5vw;
        font-size: 1.25vw;
        margin: 0 40px 0 0;
      }

      #myCarousel {
        width: 34vw;
        margin: 0;
        float: right;

        .carousel-indicators.chs-indicators {
          margin-left: -39%;
        }
      }
    }
  }

  .chs-hepts {
    position: absolute;
    z-index: 100;
    display: block;
  }

  .hept-chs-one {
    top: 695px;
    right: 0;
  }

  .hept-chs-two {
    top: 900px;
    left: 0px;
  }
}

@media screen and (max-width: 599px) {
  .health-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .chs {
    .chs_hero {
      background-size: cover;
      width: 100%;
      margin: 20px auto 0;
      padding: 18% 0;

      h4 {
        font-size: 15px;
        margin: 0;
      }

      h1 {
        font-size: 45px;
        margin: 10px 0 0 0;
      }
    }

    .chs-text {
      margin: 20px 0 0;

      .chs-text-top {
        .chs-desktop {
          display: none;
        }

        .mobile {
          display: block;
          width: 100%;
        }

        .top-right {
          display: block;
          margin: 0 40px 40px;

          p.emb {
            font-size: 20px;
            line-height: 27px;
          }
        }
      }

      .chs-text-bottom {
        width: 100%;

        .bottom-right {
          display: block;
          margin: 40px 40px 20px;
        }

        #myCarousel {
          width: 100%;
          display: block;

          .chs-indicators {
            margin: 0 0 0 -124px;
          }
        }
      }
    }
  }

  .chs-hepts {
    display: none;
  }
}
