.cream {
  display: inline-block;
}

.about {
  width: 900px;
  margin: 60px auto 0;
  color: #000000;

  .shhh {
    vertical-align: top;
    position: relative;
    z-index: 2;
  }

  .vision, .science, .beauty {
    h3 {
      font-size: 32px;
      line-height: 33px;
      margin: 0 0 0 5px;
    }

    h2 {
      font-size: 92px;
      line-height: 96px;
      margin: 0;

      &::after {
        content: '';
        display: block;
        border-top: 5px solid black;
        width: 50px;
        margin: 0 0 20px;
      }
    }

    h3, h2 {
      // font-family: MillerBanner;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      // font-family: WorkSans;
      // font-size: 15px;
      font-weight: lighter;
      // font-style: normal;

      .emb {
        font-style: italic;
        font-weight: lighter;
        letter-spacing: 1px;
        display: block;
        margin: 0 0 7px;
        width: 613px;

        .reg {
          font-size: 25px;
          vertical-align: text-bottom;
        }
      }
    }
  }

  .vision {
    width: 480px;
    display: inline-block;
    vertical-align: top;
    margin: 0 -600px 34px 34px;
  }

  .creamy {
    margin-top: 420px;
    display: inline-block;
    position: relative;
    z-index: 0;
  }

  .science {
    margin: -130px 0 60px 50px;
    position: relative;
    z-index: 2;
    width: 600px;
  }

  .beauty {
    width: 460px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 40px;
  }
}

.hepts {
  position: absolute;
  z-index: 100;
}

.hept-about-one {
  top: 283px;
  right: 0;
}

.hept-about-two {
  top: 660px;
  left: 15px;
}

.hept-about-three {
  top: 790px;
  left: 0;
}

.hept-about-four {
  top: 1085px;
  right: 0;
}
