.about {
  color: #000000;

  .vision, .science, .beauty {
    h2 {
      &::after {
        content: '';
        display: block;
        border-top: 5px solid black;
        width: 50px;
        margin: 0 0 20px;
      }
    }

    h3, h2 {
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 767px) {
  .about-desktop {
    display: inline-block;
  }

  .about-mobile {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .cream {
    display: inline-block;
  }

  .about {
    width: 900px;
    margin: 60px auto 0;
    color: #000000;

    .shhh {
      vertical-align: top;
      position: relative;
      z-index: 2;
      width: 371px;
    }

    .vision, .science, .beauty {
      h3 {
        font-size: 32px;
        line-height: 33px;
        margin: 0 0 0 5px;
      }

      h2 {
        font-size: 92px;
        line-height: 96px;
        margin: 0;

        &::after {
          content: '';
          display: block;
          border-top: 5px solid black;
          width: 50px;
          margin: 0 0 20px;
        }
      }

      h3, h2 {
        font-style: italic;
        text-transform: uppercase;
        font-weight: bold;
      }

      p {
        font-weight: lighter;

        .emb:not(.about-mobile) {
          font-style: italic;
          font-weight: lighter;
          display: block;
          margin: 0 0 7px;
          width: 613px;

          .reg {
            font-size: 20px;
            vertical-align: text-bottom;
          }
        }
      }
    }

    .vision {
      width: 480px;
      display: inline-block;
      vertical-align: top;
      margin: 0 -600px 34px 34px;
    }

    .creamy {
      margin-top: 440px;
      position: relative;
      z-index: 0;
    }

    .science {
      margin: -130px 0 60px 50px;
      position: relative;
      z-index: 2;
      width: 600px;
    }

    .beauty {
      width: 460px;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 40px;
    }
  }

  .about-hepts {
    position: absolute;
    z-index: 100;
    display: block;
    &.hept-about-one {
      top: 283px;
      right: 0;
    }

    &.hept-about-two {
      top: 660px;
      left: 15px;
    }

    &.hept-about-three {
      top: 790px;
      left: 0;
    }

    &.hept-about-four {
      top: 1085px;
      right: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  .cream {
    display: inline-block;
  }

  .about {
    width: 83vw;
    margin: 60px auto 0;
    color: #000000;

    .shhh {
      vertical-align: top;
      position: relative;
      z-index: 2;
      width: 33vw;
    }

    .vision, .science, .beauty {
      h3 {
        font-size: 2.6vw;
        line-height: 23px;
        margin: 0 0 0 5px;
      }

      h2 {
        font-size: 6vw;
        line-height: 63px;
        margin: 0;

        &::after {
          content: '';
          display: block;
          border-top: 5px solid black;
          width: 5vw;
          margin: 0 0 20px;
        }
      }

      h3, h2 {
        font-style: italic;
        text-transform: uppercase;
        font-weight: bold;
      }

      p {
        font-size: 1.2vw;
        font-weight: lighter;

        .emb:not(.about-desktop) {
          font-style: italic;
          font-weight: lighter;
          display: block;
          margin: 0 0 14px;
          font-size: 2.1vw;
          line-height: 25px;

          .reg {
            font-size: 20px;
            vertical-align: text-bottom;
          }
        }
      }
    }

    .vision {
      width: 45.1vw;
      display: inline-block;
      vertical-align: top;
      margin: 0 -490px 34px 34px;
    }

    .about-desktop.creamy {
      margin-top: 330px;
      display: inline-block;
      position: relative;
      z-index: 0;
      width: 51.5vw;
    }

    .science {
      margin: -110px 0 40px 60px;
      position: relative;
      z-index: 2;
      width: 600px;
    }

    .snek {
      width: 39vw;
    }

    .beauty {
      width: 40.1vw;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 20px;
    }
  }

  .about-hepts {
    position: absolute;
    z-index: 100;
    display: block;
    &.hept-about-one {
      top: 283px;
      right: 0;
    }

    &.hept-about-two {
      top: 660px;
      left: 15px;
    }

    &.hept-about-three {
      top: 790px;
      left: 0;
    }

    &.hept-about-four {
      top: 1085px;
      right: 0;
    }
  }
}

@media screen and (max-width: 767px) {

  .wrapper:not(.about) {
    width: 320px;
    margin: 115px auto;

    position: relative;
    z-index: 90;

    background: white;
    overflow: hidden;
  }
  
  .wrapper.about {
    width: 100%;
    color: #000000;

    .about-desktop {
      display: none;
    }

    .about-mobile {
      display: block;

      &.shhh, &.creamy, &.snek {
        margin: 0;
      }

    }


    .shhh, .creamy, .snek {
      width: 100%;
      margin: 60px 0 40px;
    }

    .vision, .science, .beauty {
      margin: 40px 40px 20px;
      display: block;

      h3 {
        margin: 0 0 0 10px;
        font-size: 25px;
      }

      h2 {
        margin: 0 0 10px;
        font-size: 45px;
      }

      p {

        .emb {
          font-size: 18px;
          width: 100%;
          line-height: 1.4;
        }
      }
    }
  }

  .about-hepts {
    display: none;
  }
}
