/* ------------ navigation + dropdown ---------------------> */ 

.navigation {
  width: 100%;
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 90px;
  margin-top: -15px;
  position: relative;
  background-color: white;
}

.menu-mobile {
  display: none;
}

.navigation > .brand {
  padding-top: 35px;
  padding-bottom: 5px;
  width: 140px;
  height: 43px;
  margin-left: 50px;
}

.navigation > .middle-nav {
  max-width: 600px;
  min-width: 280px;
  height: 55px; 
  margin: 0 auto;
}

.navbar {
  margin-left: 60px; 
}

.col-xs-31 {
  width: 19%;
  display: inline-block;
}

.col-xs-32 {
  width: 24%;
  display: inline-block;
}

.col-xs-33 {
  width: 20%;
  display: inline-block;
}

.col-xs-34 {
  width: 22%;
  display: inline-block;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.navbar li {
  color: black;
  padding-top: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
}

ul.navbar li.right {
  text-align: right;
}

ul.navbar li.center {
  text-align: center;
}

li a {
  color: black;   
}

.navigation > .search {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 40px;
  margin-top: -55px;
}


/* for dropdown */
.dropbtn {
    border: none;
    max-width: 160px;
    padding-left: 10px;
    text-align: right;
    cursor: pointer;
    z-index: 9999;
}

.dropdown {
    position: relative;
    z-index: 9999;
}

ul.navbar li.dropdown {
  text-align: right;
  z-index: 9999;
  height: 35px;
}

.dropdown-aurouscontent {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -45px;
  min-width: 160px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -10px;
  min-width: 160px;
  border-style: solid;
  border-top: 2px solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
}

.dropdown-aurouscontent a {
    color: black;
    padding: 12px 16px;
    /*text-decoration: none !important;*/
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    /*text-decoration: none !important;*/
    display: block;
}

.dropdown-aurouscontent a:hover {background-color: white; z-index: 9999;}
.dropdown-content a:hover {background-color: white; z-index: 9999;}
/*.dropdown-content a:hover {background-color: rgba(255,225,250,0.3);}*/

.dropdown:hover .dropdown-aurouscontent {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropbtn {
    background-color: white;
    z-index: 9999;
}

/** dropdown end **/


/* search */
.textsearch-test {
  display: inline-block;
  position: relative;
  float: right;
  width: 190px;
  height: 20px;
  margin-right: 5px;
  margin-top: -58px;
}

.testing {
  border: none;
  border-bottom: 2px solid;
}

input:focus{
    outline: none;
}

#testingsearch {
  border: none;
  border-bottom: 1px solid;
  padding-top: -10px;
  display: none;
}

#callingsearch {
  margin-top: 8px;
  margin-left: 158px;
  height: 20px;
  width: 20px;
/*  border: 1px solid;*/
  text-align: center;
  display: inline-block;
}

/** search end **/

@media screen and (max-width: 940px){

  .navigation {
    height: 125px;
  }

  .navigation > .brand {
    padding-top: 35px;
    padding-left: 2px;
    width: 150px;
    height: 43px;
    margin: 0 auto;
  }

.navigation > .middle-nav {
    max-width: 540px;
    min-width: 280px;
    height: 50px; 
    margin: 0 auto;
    padding-top: 45px;
  }
}

@media screen and (max-width: 580px){

  .navigation {
    height: 90px;
  }

  .middle-nav {
    display: none;
  }

  .menu-mobile {
      position: relative;
      display: inline-block;
      margin-top: -12px;
      padding-left: 10px;
      width: 80px;
      height: 60px;
  }

  .popup-btn {
    background-color: white;
    width: 45px;
    height: 40px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-image: url("menu-22.png");
    background-repeat: no-repeat;
  }

  .popup-btn:hover, .popup-btn:focus {
      background-color: white;
      outline: none;
  }

  .popup-content {
      display: none;
      position: absolute;
      margin-top: 13px;
      background-color: rgba(25, 28, 59, 0.9);
      /*min-width: 300px;*/
      width: 100vw;
      height: 100vh;
      overflow: auto;
      z-index: 9999;
      text-align: center;
  }

  .popup-content a {
      color: rgba(173, 216, 230, 0.9);
      font-family: WorkSans;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 20px 16px;
      text-decoration: none;
      border-top: 1px solid rgba(173, 216, 230, 0.4);
      display: block;
  }

  .menu-mobile a:hover {background-color: #f1f1f1}

  .show {display:block;}

  .textsearch-test {
    margin-top: -5px;
  }

}
