/* ------------ navigation + dropdown ---------------------> */
.navigation, .shadow {
  width: 100%;
  display: block;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 90px;
  margin-top: -15px;


  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 9999;
  box-shadow: 0 4px 4px -4px #BBBBBB;
  max-width: 1200px;
}

/*.shadow {
  box-shadow: 0px 0px 25px 0px #BBBBBB;
  width: 1200px;
}*/

/*.page-width {
  width: 1200px;
  margin: 0 auto;
}*/

.menu-mobile {
  display: none;
}

.navigation > .brand, .page-width > .brand {
  padding-top: 35px;
  padding-bottom: 5px;
  width: 140px;
  height: 43px;
  margin-left: 50px;
}

.navigation > .middle-nav, .page-width > .middle-nav {
  max-width: 600px;
  min-width: 280px;
  height: 55px;
  margin: 0 auto;
}

.navbar {
  margin-left: 60px;
}

.col-xs-31 {
  width: 19%;
  display: inline-block;
}

.col-xs-32 {
  width: 24%;
  display: inline-block;
}

.col-xs-33 {
  width: 20%;
  display: inline-block;
}

.col-xs-34 {
  width: 22%;
  display: inline-block;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.navbar li {
  color: black;
  padding-top: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
}

ul.navbar li.right {
  text-align: right;
}

ul.navbar li.center {
  text-align: center;
}

li a {
  color: black;
}

li.dropdown a:hover {

}

a:hover,
a:focus {
  /*text-decoration: none;*/
}

.navigation > .search {}

.navigation > .search, .page-width > .search {
/*>>>>>>> may-tweaks
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 40px;
  margin-top: -55px;*/
}


/* for dropdown */

.dropdown {
  position: relative;
  z-index: 9999;
}

ul.navbar li.dropdown {
  text-align: right;
  z-index: 9999;
  height: 35px;
}

.dropdown-innovationcontent {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -45px;
  min-width: 160px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-aurouscontent {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -45px;
  min-width: 160px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;

}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -10px;
  min-width: 160px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-aurouscontent a, .dropdown-content a, .dropdown-innovationcontent a {
    color: black;
    padding: 12px 16px;
    display: block;

/*    &:hover,
    &:focus {
      background-color: white; z-index: 9999;
    }*/
}



.dropdown:hover .dropdown-aurouscontent {}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-aurouscontent a:hover, .dropdown-content a:hover, .dropdown-innovationcontent a:hover {background-color: white; z-index: 9999;}
.dropdown-content a:hover {background-color: white; z-index: 9999;}

.dropdown:hover .dropdown-aurouscontent,
.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-innovationcontent {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropdown-aurouscontent, .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-innovationcontent {
    display: block;
    background-color: white;
    z-index: 9999;
}


.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropbtn {
    z-index: 9999;
}

/** dropdown end **/



/* search */
.textsearch-test {
  display: inline-block;
  position: relative;
  float: right;
  width: 190px;
  height: 20px;
  margin-top: -58px;
}

input:focus{
    outline: none;
}

#testingsearch {
  width: 155px;
  border: none;
  border-bottom: 1px solid;
  padding-top: -10px;
  display: none;
}

#callingsearchs {
  margin-top: 4px;
  margin-left: 158px;
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
}

/** search end **/


/* up arrow testing */
a.up-arrow {
  display: inline-block;
  position: relative;
  background: white;
  color: black;
  text-decoration: none;
}

a.up-arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

a.up-arrow-about {
  display: inline-block;
  position: relative;
  background: white;
  color: black;
  text-decoration: none;
}

a.up-arrow-about:after {
  content: '';
  display: block;
  position: absolute;
  left: 35px;
  top: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}






// bold current page in navbar 
.selected {
  font-family: sans-serif;
  font-weight: 600 !important;
}


@media (min-width: 1205px) and (max-width: 1950px) {

  .navigation > .brand {
    float: none;
    margin-left: 0;
    position: absolute;
    left: 40px;
  }

  .navigation > .middle-nav {
    width: 600px;
    min-width: 280px;
    height: 55px;
    margin: 0 auto;
    float: none;
    position: absolute;
    top: 43px;
    left: 293px;
  }

  .textsearch-test {
    display: inline-block;
    float: none;
    width: 190px;
    height: 20px;
    top: 100px;
    left: 1000px;
    position: absolute;
  }

}


@media screen and (max-width: 940px){

  .navigation {
    height: 125px;
  }

  .navigation > .brand {
    padding-top: 35px;
    padding-left: 2px;
    width: 150px;
    height: 43px;
    margin: 0 auto;
  }

.navigation > .middle-nav {
    max-width: 540px;
    min-width: 280px;
    height: 50px;
    margin: 0 auto;
    padding-top: 45px;
  }
}

@media screen and (max-width: 580px){

  .navigation {
    height: 90px;
  }

  .middle-nav {
    display: none;
  }

  .menu-mobile {
      position: relative;
      display: inline-block;
      margin-top: -12px;
      padding-left: 10px;
      width: 80px;
      height: 60px;
  }

  .popup-btn {
    background-color: white;
    width: 45px;
    height: 40px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-image: url("menu-22.png");
    background-repeat: no-repeat;
  }

  .popup-btn:hover, .popup-btn:focus {
      background-color: white;
      outline: none;
  }

  .popup-content {
      display: none;
      position: absolute;
      margin-top: 13px;
      background-color: rgba(25, 28, 59, 0.9);
      /*min-width: 300px;*/
      width: 100vw;
      height: 100vh;
      overflow: auto;
      z-index: 9999;
      text-align: center;
  }

  .popup-content a {
      color: rgba(173, 216, 230, 0.9);
      font-family: WorkSans;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 20px 16px;
      text-decoration: none;
      border-top: 1px solid rgba(173, 216, 230, 0.4);
      display: block;
  }

  .menu-mobile a:hover {background-color: #f1f1f1}

  .show {display:block;}

  .textsearch-test {
    margin-top: -5px;
  }

}
