.random-box {
	width: 90%;
	margin: 0 auto;
}

.box {
	width: 100px;
	height: 200px;
	text-align: center;
}

button.slick-prev {
	text-rendering: none;
  	display: inline-block;
  	height: 45px;
}

.slick-slide{
  	width:100%;
	margin-right: 15px;
	margin-left: 15px;
}


.fb-share-button {
	width: 50px !important;
	height: 50px !important;
/*	background-color: green;
	display: none !important;*/
}

.responsive-image {
	width: 1200px;
	height: 160px;
}

#responsive {
	width: 100%;
	max-width: 1200px;
	height: auto;
}


/* responsive as a background image */
/*.responsive-image {
    width: 100%;
    height: 160px;
    background-image: url('responsive-test.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}*/