.inn-width {
	width: 100% !important;
}


/*#section-1, #section-2, #section-3 {
	width: 100% !important;
	height: 100vh !important;
}*/

.inn {
	margin: 0 auto;
	width: 1050px;
	color: #000000;
	margin-top: 2%;

	.inn-top {
		width: 910px;
		margin: 60px auto 0;

		img {
			vertical-align: top;
		}

		.inn-top-right {
			width: 444px;
			display: inline-block;
			margin: 85px 0 0 15px;
			vertical-align: top;

			h1 {
				font-size: 104px;
				text-align: center;
			}

			h3 {
				font-size: 20px;
				font-family: 'Work Sans', sans-serif;
				text-transform: uppercase;
				font-weight: normal;
				text-align: center;
				margin: -30px 0 0 0;
			}

			.black-box {
				background-color: #000000;
				padding: 40px 0 40px 40px;
				margin: 55px 0 55px;

				p {
					color: #FFFFFF;
				}

				.black-box-p {
					padding: 0 40px 0 0;
				}

				.emb {
					&::after {
						content: '';
						display: block;
						width: 70px;
						border-top: 5px solid #FFFFFF;
						margin: 20px 0;
					}
				}
			}
		}
	}

	.gif {
		width: 1050px;
		margin: 0 auto 15px;
		margin-top: 25px;

		h2 {
			width: 910px;
			margin: 0 auto;
			font-size: 50px;
			font-style: italic;
			text-transform: capitalize;
			text-align: center;
			border-bottom: 1px solid #000000;
		}

		.down-arr {
			display: block;
			margin: -4px auto 20px;

			&, svg {
				width: 15px;
				height: 15px;
			}
		}

		h4 {
			font-size: 15px;
			font-style: italic;
			text-align: center;
			margin: 0 0 20px;
		}
	}

	.inn-bottom {
		.inn-bottom-bottom {
			width: 900px;
			margin: 0 auto;

			img {
				vertical-align: top;
			}

			.inn-bottom-right {
				margin: 15px 0 0 25px;
				width: 430px;
				display: inline-block;
				position: relative;

				&::before {
					content: '';
					display: block;
					border-top: 1px solid #000000;
					border-left: 1px solid #000000;
					width: 25px;
					height: 25px;
					position: absolute;
					top: -15px;
					left: -15px;
				}
			}
		}
	}
}

.sg-banner {
	width: 100%;
	margin: 0 0 40px;
	display: inline-block;
	color: #FFFFFF;
	background-image: url("MOS-detail_01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.down-arr {
		margin: -4px auto 45px;

		&,
		svg {
			width: 15px;
			height: 15px;
		}

		svg {
			fill: #FFFFFF;
		}
	}

	.header-container {
		width: 1200px;
		margin: 0 auto;
		overflow: auto;



		img {
			width: 197px;
			margin: 0 auto 20px;
			display: block;
		}

		h3 {
			color: #FFFFFF;
			text-align: center;
			width: 604px;
			margin: 0 auto 55px;
		}
	}
}

.random-box {
	width: 90%;
	margin: 0 auto;
}

.box {
	width: 100px;
	height: 200px;
	text-align: center;
}

button.slick-prev {
	text-rendering: none;
  	display: inline-block;
  	height: 45px;
}

.slick-slide{
  	width:100%;
	margin-right: 15px;
	margin-left: 15px;
}


.fb-share-button {
	width: 50px !important;
	height: 50px !important;
/*	background-color: green;
	display: none !important;*/
}

.responsive-image {
	width: 1200px;
	height: 160px;
}

#responsive {
	width: 100%;
	max-width: 1200px;
	height: auto;
}

.hepts {
  position: absolute;
  z-index: 100;
}

.hept-inn-one {
  top: 120px;
  right: 80px;
}

.hept-inn-two {
  top: 215px;
  right: 0px;
}

.hept-inn-three {
	top: 725px;
	left: 0;
}

.hept-inn-four {
  top: 2362px;
  right: 60px;
}

.hept-inn-five {
  top: 2470px;
  right: 0;
}



/* responsive as a background image */
/*.responsive-image {
    width: 100%;
    height: 160px;
    background-image: url('responsive-test.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}*/


#superContainer {
    height:100%;
    position:relative;
}
.section{
    position: relative;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
         box-sizing: border-box; 
}
.custom-full1 {
  background: grey;
}
.slide {
    float: left;
}
.slide, .slidesContainer {
    height: 100%;
    display: block;
}
.slides {
	height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.section.table,
.slide.table{
	display:table;
	width:100%;
}
.tableCell{
	display:table-cell;
	vertical-align: middle;
	width:100%;
	height: 100%;
}
.slidesContainer {
    float: left;
    position: relative;
}
.controlArrow{
    position:absolute;
    top:50%;
    cursor:pointer;
	width: 0px;
	height: 0px;
	border-style: solid;
	margin-top: -38px;
}

.controlArrow.prev{
	left:15px;
	width: 0px;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent;
}
.controlArrow.next{  
	right:15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff;
}
.scrollable{
	overflow:scroll;
}
.easing{
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
#fullPage-nav{
	position: fixed;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav.right{
	right: 17px;
}
#fullPage-nav.left{
	left: 17px;
}
.fullPage-slidesNav{
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1;
}
.fullPage-slidesNav.bottom{
	bottom: 17px;
}
.fullPage-slidesNav.top{
	top: 17px;
}
#fullPage-nav ul,
.fullPage-slidesNav ul{
	margin:0;
	padding:0;
}
#fullPage-nav li,
.fullPage-slidesNav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
	position:relative;
}
.fullPage-slidesNav li{
	display: inline-block;
}
#fullPage-nav li a,
.fullPage-slidesNav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span,
.fullPage-slidesNav .active span{
	background: #333;
}
#fullPage-nav span,
.fullPage-slidesNav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}
.fullPage-tooltip{
	position: absolute;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	top: -2px;
}
.fullPage-tooltip.right{
	right: 20px;
}
.fullPage-tooltip.left{
	left: 20px;
}

