/*** logo *** - scrollable part */
/*#logo-navbar {
  display: block;
  padding-top: 30px;
  padding-bottom: 26px;
  width: 236px;
  margin: 0 auto;
  height: 120px;
}
#nav-brand-logo {
  width: 236px;
  height: 64px;
}*/

/* ------------ navigation + dropdown ---------------------> */

.navigation, .shadow {
  width: 100%;
  /*display: block;*/
  padding-bottom: 0;
  margin-bottom: 0;
  /*height: 90px;*/
  height: 78px;
  /*margin-top: -15px;*/
  margin-top: -19px;
  /*position: relative;*/
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1px solid grey;
}

.shadow {
  box-shadow: 0px 0px 25px #BBBBBB;
}

.menu-mobile {
  display: none;
}

.navigation > .brand, .page-width > .brand {
/*  padding-top: 28px;*/
  padding-top: 33px;
  padding-bottom: 5px;
  width: 140px;
  height: 43px;
  margin-left: 40px;
}

#logo-navbar {
  width: 118px;
  height: 32px;
}

.navigation > .middle-nav, .page-width > .middle-nav {
  /*max-width: 600px;*/
  max-width: 512px;
  min-width: 280px;
  height: 55px;
  margin: 0 auto;
  margin-top: -8px;
}

.navbar {
  /*margin-left: 60px;*/
  margin-left: 40px;
}
/*
.col-xs-31 {
  width: 20%;
  display: inline-block;
}

.col-xs-32 {
  width: 26%;
  display: inline-block;
}

.col-xs-33 {
  width: 20%;
  display: inline-block;
}

.col-xs-34 {
  width: 22%;
  display: inline-block;
}
*/
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.navbar li {
  color: black;
  padding-top: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
}

ul.navbar li.right {
  text-align: right;
}

ul.navbar li.center {
  text-align: center;
}

li a {
  color: black;
}

/*li.dropdown > a{
  opacity: 0.8;
  color: grey;
}
*/

/* for dropdown */

/*.dropdown {
  position: relative;
  z-index: 9999;
}

ul.navbar li.dropdown {
  text-align: right;
  z-index: 9999;
  height: 35px;
}

.dropdown-aboutcontent {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -55px;
  min-width: 160px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-aurouscontent {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -45px;
  min-width: 160px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 4px;
  margin-left: -10px;
  min-width: 160px;
  border-top: 2px solid;
  text-align: center;
  background-color: #FFFFFF;
}

.dropdown-aurouscontent a, .dropdown-content a, .dropdown-aboutcontent a {
    color: grey;
    opacity: 0.8;
    padding: 4px 14px;
    display: block;
    text-transform: uppercase;

}*/

/*.dropdown-content a {
    color: black;
    padding: 10px 14px;
    display: block;
}*/

/*.dropdown-aurouscontent a:hover, .dropdown-content a:hover, .dropdown-innovationcontent a:hover, .dropdown-aboutcontent a:hover {background-color: white; z-index: 9999;}
.dropdown-content a:hover {background-color: white; z-index: 9999;}

.dropdown:hover .dropdown-aurouscontent,
.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-innovationcontent {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropdown-aurouscontent, .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-innovationcontent, .dropdown:hover .dropdown-aboutcontent {
  display: block;
  background-color: white;
  z-index: 9999;
}


.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    z-index: 9999;
}

.dropdown:hover .dropbtn {
    z-index: 9999;
}*/

/** dropdown end **/



/* search */
.textsearch-test {
  display: inline-block;
  position: relative;
  float: right;
  width: 190px;
  height: 20px;
  margin-top: -58px;
}

input:focus{
    outline: none;
}

#testingsearch {
  width: 155px;
  border: none;
  border-bottom: 1px solid;
  padding-top: -10px;
  display: none;
}

#callingsearchs {
  margin-top: 6px;
  margin-left: 158px;
/*  height: 20px;
  width: 20px;*/
  height: 15px;
  width: 12px;
  text-align: center;
  display: inline-block;
}

/** search end **/


/* up arrow testing */
/*a.up-arrow {
  display: inline-block;
  position: relative;
  background: white;
  opacity: 0.8;
  text-decoration: none;
  padding-top: 12px;
}

a.up-arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 48px;
  top: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

a.up-arrow-about {
  display: inline-block;
  position: relative;
  background: white;
  opacity: 0.8;
  text-decoration: none;
  padding-top: 12px;
}

a.up-arrow-about:after {
  content: '';
  display: block;
  position: absolute;
  left: 43px;
  top: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}*/

#aurous-bottom, #sat-skin-bottom {
  margin-bottom: 3px;
}


// bold current page in navbar
.selected {
  /*font-family: sans-serif;*/
  color: black !important;
  display: inline-block;
  pointer-events: none;
  /*font-weight: 600 !important;*/
}


// fade out the rest
.notactive {
  opacity: 0.8 !important;
  color: red !important;
  background-color: yellow !important;
}

.black {
  color: black !important;
}

@media screen and (min-width: 1205px) {

  .page-width {
    width: 1200px;
    margin: 0 auto;
  }

  .max-width {
    width: 1200px;
    margin: 0 auto;
    background: white;
  }

  .navigation > .brand {
    float: none;
    margin-left: 0;
    position: absolute;
    left: 40px;
  }

  .navigation > .middle-nav {
    width: 600px;
    min-width: 280px;
    height: 55px;
    margin: 0 auto;
    float: none;
    margin-top: 40px;
  }

  .textsearch-test {
    margin-right: 10px;
  }
}


@media screen and (max-width: 940px){

  .navigation, .shadow {
    height: 125px;
  }

  .navigation > .brand, .page-width > .brand{
    padding-top: 35px;
    padding-left: 2px;
    width: 150px;
    height: 43px;
    margin: 0 auto !important;
  }

  .navigation > .middle-nav, .page-width > .middle-nav {
    max-width: 540px;
    min-width: 280px;
    height: 50px;
    margin: 0 auto;
    padding-top: 45px;
  }
}

@media screen and (max-width: 580px){

  .navigation, .shadow {
    height: 90px;
  }

  .navigation > .brand, .page-width > .brand{
    margin: 0 auto !important;
  }

/*  .middle-nav {
    display: none;
  }

  .menu-mobile {
      position: relative;
      display: inline-block;
      margin-top: -12px;
      padding-left: 10px;
      width: 80px;
      height: 60px;
  }*/

  .popup-btn {
    background-color: white;
    width: 45px;
    height: 40px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-image: url("menu-22.png");
    background-repeat: no-repeat;
  }

  .popup-btn:hover, .popup-btn:focus {
      background-color: white;
      outline: none;
  }

  .popup-content {
      display: none;
      position: absolute;
      margin-top: 13px;
      background-color: rgba(25, 28, 59, 0.9);
      /*min-width: 300px;*/
      width: 100vw;
      height: 100vh;
      overflow: auto;
      z-index: 9999;
      text-align: center;
  }

  .popup-content a {
      color: rgba(173, 216, 230, 0.9);
      font-family: WorkSans;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 20px 16px;
      text-decoration: none;
      border-top: 1px solid rgba(173, 216, 230, 0.4);
      display: block;
  }

  .menu-mobile a:hover {background-color: #f1f1f1}

  .show {display:block;}

  .textsearch-test {
    margin-top: -5px;
  }

}
